# Test Data Cleaning Part 1

In [1]:
#import packages
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [2]:
#load dataset
ames_df = pd.read_csv('../data/test.csv')
ames_df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [3]:
#convert column names to lower case
ames_df.columns= ames_df.columns.str.lower()

In [4]:
#replace spaces in column names with _
ames_df.columns = ames_df.columns.str.replace(' ', '_')
ames_df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [5]:
#look at the info
ames_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               878 non-null    int64
 1   pid              878 non-null    int64
 2   ms_subclass      878 non-null    int64
 3   ms_zoning        878 non-null    object
 4   lot_frontage     718 non-null    float64
 5   lot_area         878 non-null    int64
 6   street           878 non-null    object
 7   alley            58 non-null     object
 8   lot_shape        878 non-null    object
 9   land_contour     878 non-null    object
 10  utilities        878 non-null    object
 11  lot_config       878 non-null    object
 12  land_slope       878 non-null    object
 13  neighborhood     878 non-null    object
 14  condition_1      878 non-null    object
 15  condition_2      878 non-null    object
 16  bldg_type        878 non-null    object
 17  house_style      878 non-null    object
 18  overall_qual     878 non-null    int64
 19  overall_cond     878 non-null    int64
 20  year_built       878 non-null    int64
 21  year_remod/add   878 non-null    int64
 22  roof_style       878 non-null    object
 23  roof_matl        878 non-null    object
 24  exterior_1st     878 non-null    object
 25  exterior_2nd     878 non-null    object
 26  mas_vnr_type     877 non-null    object
 27  mas_vnr_area     877 non-null    float64
 28  exter_qual       878 non-null    object
 29  exter_cond       878 non-null    object
 30  foundation       878 non-null    object
 31  bsmt_qual        853 non-null    object
 32  bsmt_cond        853 non-null    object
 33  bsmt_exposure    853 non-null    object
 34  bsmtfin_type_1   853 non-null    object
 35  bsmtfin_sf_1     878 non-null    int64
 36  bsmtfin_type_2   853 non-null    object
 37  bsmtfin_sf_2     878 non-null    int64
 38  bsmt_unf_sf      878 non-null    int64
 39  total_bsmt_sf    878 non-null    int64
 40  heating          878 non-null    object
 41  heating_qc       878 non-null    object
 42  central_air      878 non-null    object
 43  electrical       877 non-null    object
 44  1st_flr_sf       878 non-null    int64
 45  2nd_flr_sf       878 non-null    int64
 46  low_qual_fin_sf  878 non-null    int64
 47  gr_liv_area      878 non-null    int64
 48  bsmt_full_bath   878 non-null    int64
 49  bsmt_half_bath   878 non-null    int64
 50  full_bath        878 non-null    int64
 51  half_bath        878 non-null    int64
 52  bedroom_abvgr    878 non-null    int64
 53  kitchen_abvgr    878 non-null    int64
 54  kitchen_qual     878 non-null    object
 55  totrms_abvgrd    878 non-null    int64
 56  functional       878 non-null    object
 57  fireplaces       878 non-null    int64
 58  fireplace_qu     456 non-null    object
 59  garage_type      834 non-null    object
 60  garage_yr_blt    833 non-null    float64
 61  garage_finish    833 non-null    object
 62  garage_cars      878 non-null    int64
 63  garage_area      878 non-null    int64
 64  garage_qual      833 non-null    object
 65  garage_cond      833 non-null    object
 66  paved_drive      878 non-null    object
 67  wood_deck_sf     878 non-null    int64
 68  open_porch_sf    878 non-null    int64
 69  enclosed_porch   878 non-null    int64
 70  3ssn_porch       878 non-null    int64
 71  screen_porch     878 non-null    int64
 72  pool_area        878 non-null    int64
 73  pool_qc          4 non-null      object
 74  fence            172 non-null    object
 75  misc_feature     41 non-null     object
 76  misc_val         878 non-null    int64
 77  mo_sold          878 non-null    int64
 78  yr_sold          878 non-null    int64
 79  sale_type        878 non-null    object
dtypes: float64(3), int64(35), object(42)
memory usage: 548.9+ KB

In [6]:
#display number of null values for each variable
pd.options.display.min_rows = 60
ames_df.isnull().sum().sort_values(ascending=False)

pool_qc           874
misc_feature      837
alley             820
fence             706
fireplace_qu      422
lot_frontage      160
garage_yr_blt      45
garage_finish      45
garage_qual        45
garage_cond        45
garage_type        44
bsmtfin_type_1     25
bsmt_qual          25
bsmt_cond          25
bsmt_exposure      25
bsmtfin_type_2     25
electrical          1
mas_vnr_type        1
mas_vnr_area        1
kitchen_abvgr       0
totrms_abvgrd       0
bedroom_abvgr       0
half_bath           0
full_bath           0
bsmt_half_bath      0
bsmt_full_bath      0
gr_liv_area         0
kitchen_qual        0
id                  0
functional          0
                 ...
condition_2         0
condition_1         0
neighborhood        0
land_slope          0
utilities           0
central_air         0
land_contour        0
lot_shape           0
street              0
lot_area            0
ms_zoning           0
ms_subclass         0
overall_qual        0
overall_cond        0
year_built          0
year_remod/add      0
roof_style          0
roof_matl           0
exterior_1st        0
exterior_2nd        0
exter_qual          0
exter_cond          0
foundation          0
bsmtfin_sf_1        0
bsmtfin_sf_2        0
bsmt_unf_sf         0
total_bsmt_sf       0
pid                 0
heating_qc          0
sale_type           0
Length: 80, dtype: int64

In [7]:
#view unique values of 'ms_subclass'
np.array(np.unique(ames_df['ms_subclass'], return_counts=True)).T

#'ms_subclass' does not show any unusual values

array([[ 20, 309],
       [ 30,  38],
       [ 40,   2],
       [ 45,   7],
       [ 50,  89],
       [ 60, 180],
       [ 70,  38],
       [ 75,   7],
       [ 80,  32],
       [ 85,  20],
       [ 90,  34],
       [120,  60],
       [160,  41],
       [180,   6],
       [190,  15]], dtype=int64)

In [8]:
#view unique values of 'ms_zoning'
np.array(np.unique(ames_df['ms_zoning'], return_counts=True)).T

#ms_zoning does not show any unusual values

array([['C (all)', 6],
       ['FV', 38],
       ['I (all)', 1],
       ['RH', 13],
       ['RL', 674],
       ['RM', 146]], dtype=object)

In [9]:
#convert nan values to 0 and convert 'lot_frontage' to int type
ames_df['lot_frontage'] = ames_df['lot_frontage'].fillna(0).astype(int)

Since there are 330 null values in 'lot frontage', the cells are filled with the 0 value.

In [10]:
ames_df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,0,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [11]:
#checking for unusual values in 'lot_area'
np.array(np.unique(ames_df['lot_area'], return_counts=True)).T

#'lot_area' does not contain any unusual values

array([[  1477,      1],
       [  1488,      1],
       [  1491,      1],
       ...,
       [ 56600,      1],
       [164660,      1],
       [215245,      1]], dtype=int64)

In [12]:
#checking 'street' for unusual values
np.array(np.unique(ames_df['street'], return_counts=True)).T

#'street' does not contain any unusual values

array([['Grvl', 5],
       ['Pave', 873]], dtype=object)

In [13]:
ames_df.head(5)

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,0,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,0,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [14]:
#replace NaN with None for 'alley'
ames_df['alley'] = ames_df['alley'].replace(np.nan,'None')

In [15]:
ames_df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,0,9662,Pave,None,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58,17104,Pave,None,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60,8520,Pave,None,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,0,9500,Pave,None,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [16]:
#check for replacement of NaN in 'alley'
np.array(np.unique(ames_df['alley'], return_counts=True)).T

array([['Grvl', 35],
       ['None', 820],
       ['Pave', 23]], dtype=object)

In [17]:
#check for unusual values in 'lot_shape'
np.array(np.unique(ames_df['lot_shape'], return_counts=True)).T

#no unusual values in 'lot_shape'

array([['IR1', 286],
       ['IR2', 21],
       ['IR3', 7],
       ['Reg', 564]], dtype=object)

In [18]:
#check for unusual values in 'land_contour'
np.array(np.unique(ames_df['land_contour'], return_counts=True)).T

#no unusual values in 'land contour'

array([['Bnk', 36],
       ['HLS', 35],
       ['Low', 17],
       ['Lvl', 790]], dtype=object)

In [19]:
#check for unusual values in 'utilities'
np.array(np.unique(ames_df['utilities'], return_counts=True)).T

#no unusual values in 'utilities'

array([['AllPub', 877],
       ['NoSewr', 1]], dtype=object)

In [20]:
#check for unusual values in 'lot_config'
np.array(np.unique(ames_df['lot_config'], return_counts=True)).T

#no unusual values in 'lot_config'

array([['Corner', 163],
       ['CulDSac', 49],
       ['FR2', 25],
       ['FR3', 5],
       ['Inside', 636]], dtype=object)

In [21]:
#check for unusual values in 'land slope'
np.array(np.unique(ames_df['land_slope'], return_counts=True)).T

#no unusual values in 'land slope'

array([['Gtl', 835],
       ['Mod', 37],
       ['Sev', 6]], dtype=object)

In [22]:
#check for unusual values in 'neighborhood'
np.array(np.unique(ames_df['neighborhood'], return_counts=True)).T

#no unusual values in 'neighborhood'

array([['Blmngtn', 6],
       ['Blueste', 4],
       ['BrDale', 11],
       ['BrkSide', 32],
       ['ClearCr', 17],
       ['CollgCr', 87],
       ['Crawfor', 32],
       ['Edwards', 50],
       ['Gilbert', 49],
       ['Greens', 5],
       ['IDOTRR', 24],
       ['MeadowV', 13],
       ['Mitchel', 32],
       ['NAmes', 133],
       ['NPkVill', 6],
       ['NWAmes', 44],
       ['NoRidge', 23],
       ['NridgHt', 44],
       ['OldTown', 76],
       ['SWISU', 16],
       ['Sawyer', 40],
       ['SawyerW', 38],
       ['Somerst', 52],
       ['StoneBr', 13],
       ['Timber', 24],
       ['Veenker', 7]], dtype=object)

In [23]:
#check for unusual values in 'condition_1'
np.array(np.unique(ames_df['condition_1'], return_counts=True)).T

#no unusual values in 'condition_1'

array([['Artery', 22],
       ['Feedr', 55],
       ['Norm', 755],
       ['PosA', 8],
       ['PosN', 11],
       ['RRAe', 7],
       ['RRAn', 14],
       ['RRNe', 3],
       ['RRNn', 3]], dtype=object)

In [24]:
#check for unusual values in 'condition_2'
np.array(np.unique(ames_df['condition_2'], return_counts=True)).T

#no unusual values in 'condition_2'

array([['Feedr', 2],
       ['Norm', 875],
       ['PosA', 1]], dtype=object)

In [25]:
#check for unusual values in 'bldg_type'
np.array(np.unique(ames_df['bldg_type'], return_counts=True)).T

#Twnhs should be replaced with TwnhsI in 'bldg_type'

array([['1Fam', 724],
       ['2fmCon', 16],
       ['Duplex', 34],
       ['Twnhs', 32],
       ['TwnhsE', 72]], dtype=object)

In [26]:
#replace 'Twnhs' with 'TwnhsI'
ames_df['bldg_type'] = ames_df['bldg_type'].replace('Twnhs','TwnhsI')

In [27]:
#check for unusual values in 'bldg_type'

np.array(np.unique(ames_df['bldg_type'], return_counts=True)).T

#no unusual values in 'bldg_type'

array([['1Fam', 724],
       ['2fmCon', 16],
       ['Duplex', 34],
       ['TwnhsE', 72],
       ['TwnhsI', 32]], dtype=object)

In [28]:
#check for unusual values in 'house_style'
np.array(np.unique(ames_df['house_style'], return_counts=True)).T

#no unusual values in 'house_style'

array([['1.5Fin', 96],
       ['1.5Unf', 7],
       ['1Story', 422],
       ['2.5Fin', 2],
       ['2.5Unf', 10],
       ['2Story', 274],
       ['SFoyer', 33],
       ['SLvl', 34]], dtype=object)

In [29]:
#check for unusual values in 'overall_qual'
np.array(np.unique(ames_df['overall_qual'], return_counts=True)).T

#no unusual values in 'overall_qual'

array([[  2,   4],
       [  3,  11],
       [  4,  67],
       [  5, 262],
       [  6, 226],
       [  7, 171],
       [  8, 100],
       [  9,  30],
       [ 10,   7]], dtype=int64)

In [30]:
#check for unusual values in 'overall_cond'
np.array(np.unique(ames_df['overall_cond'], return_counts=True)).T

#no unusual values in 'overall_cond'

array([[  1,   3],
       [  2,   4],
       [  3,  15],
       [  4,  31],
       [  5, 485],
       [  6, 165],
       [  7, 120],
       [  8,  43],
       [  9,  12]], dtype=int64)

In [31]:
#check for unusual values in 'year_built'
np.array(np.unique(ames_df['year_built'], return_counts=True)).T

#no unusual values in 'year_built'

array([[1880,    2],
       [1882,    1],
       [1885,    1],
       [1890,    2],
       [1892,    1],
       [1900,    9],
       [1902,    1],
       [1904,    1],
       [1905,    1],
       [1906,    1],
       [1907,    1],
       [1908,    1],
       [1910,   17],
       [1912,    2],
       [1914,    1],
       [1915,    7],
       [1916,    2],
       [1917,    1],
       [1918,    6],
       [1919,    3],
       [1920,   19],
       [1921,    2],
       [1922,    4],
       [1923,    7],
       [1924,    5],
       [1925,   12],
       [1926,    7],
       [1927,    1],
       [1928,    1],
       [1930,    8],
       [1931,    3],
       [1932,    2],
       [1934,    1],
       [1935,    4],
       [1936,    2],
       [1937,    2],
       [1938,    6],
       [1939,    5],
       [1940,    7],
       [1941,    5],
       [1945,    4],
       [1946,    6],
       [1947,    3],
       [1948,    7],
       [1949,    7],
       [1950,   10],
       [1951,    5],
       [1952,    7],
       [1953,    4],
       [1954,   15],
       [1955,   10],
       [1956,   11],
       [1957,   12],
       [1958,   13],
       [1959,   12],
       [1960,   14],
       [1961,   10],
       [1962,   10],
       [1963,   11],
       [1964,    9],
       [1965,   10],
       [1966,   10],
       [1967,   13],
       [1968,   13],
       [1969,   12],
       [1970,   15],
       [1971,   13],
       [1972,   17],
       [1973,    8],
       [1974,   10],
       [1975,    4],
       [1976,   15],
       [1977,   19],
       [1978,   10],
       [1979,    6],
       [1980,   11],
       [1981,    4],
       [1982,    4],
       [1983,    2],
       [1984,    8],
       [1985,    3],
       [1986,    2],
       [1987,    1],
       [1988,    4],
       [1989,    2],
       [1990,    3],
       [1991,    7],
       [1992,    6],
       [1993,   13],
       [1994,   11],
       [1995,    6],
       [1996,   10],
       [1997,   15],
       [1998,   12],
       [1999,   15],
       [2000,   12],
       [2001,   11],
       [2002,   11],
       [2003,   24],
       [2004,   27],
       [2005,   40],
       [2006,   39],
       [2007,   30],
       [2008,   13],
       [2009,   11],
       [2010,    2]], dtype=int64)

In [32]:
#check for unusual values in 'year_remod/add'
np.array(np.unique(ames_df['year_remod/add'], return_counts=True)).T

#no unusual values in 'year_remod/add'

array([[1950,   99],
       [1951,    4],
       [1952,    6],
       [1953,    2],
       [1954,   11],
       [1955,    7],
       [1956,    8],
       [1957,    5],
       [1958,    6],
       [1959,    9],
       [1960,    9],
       [1961,    7],
       [1962,    6],
       [1963,   11],
       [1964,    9],
       [1965,   10],
       [1966,    8],
       [1967,   12],
       [1968,   11],
       [1969,   10],
       [1970,   13],
       [1971,   13],
       [1972,   14],
       [1973,    8],
       [1974,    9],
       [1975,    4],
       [1976,   16],
       [1977,   15],
       [1978,    8],
       [1979,    8],
       [1980,   10],
       [1981,    7],
       [1982,    6],
       [1983,    4],
       [1984,    7],
       [1985,    5],
       [1986,    4],
       [1987,    4],
       [1988,    3],
       [1989,    4],
       [1990,    6],
       [1991,   10],
       [1992,   13],
       [1993,   10],
       [1994,   13],
       [1995,   18],
       [1996,   17],
       [1997,   20],
       [1998,   28],
       [1999,   14],
       [2000,   35],
       [2001,   14],
       [2002,   23],
       [2003,   31],
       [2004,   28],
       [2005,   41],
       [2006,   63],
       [2007,   41],
       [2008,   25],
       [2009,   11],
       [2010,    5]], dtype=int64)

In [33]:
#check for unusual values in 'roof_style'
np.array(np.unique(ames_df['roof_style'], return_counts=True)).T

#no unusual values in 'roof_style'

array([['Flat', 7],
       ['Gable', 702],
       ['Gambrel', 10],
       ['Hip', 153],
       ['Mansard', 4],
       ['Shed', 2]], dtype=object)

In [34]:
#check for unusual values in 'roof_matl'
np.array(np.unique(ames_df['roof_matl'], return_counts=True)).T

#no unusual values in 'roof_matl'

array([['CompShg', 861],
       ['Metal', 1],
       ['Roll', 1],
       ['Tar&Grv', 8],
       ['WdShake', 5],
       ['WdShngl', 2]], dtype=object)

In [35]:
#check for unusual values in 'exterior_1st'
np.array(np.unique(ames_df['exterior_1st'], return_counts=True)).T

#no unusual values in 'exterior_1st'

array([['AsbShng', 11],
       ['AsphShn', 1],
       ['BrkComm', 3],
       ['BrkFace', 24],
       ['CemntBd', 35],
       ['HdBoard', 142],
       ['MetalSd', 119],
       ['Plywood', 69],
       ['PreCast', 1],
       ['Stucco', 16],
       ['VinylSd', 302],
       ['Wd Sdng', 144],
       ['WdShing', 11]], dtype=object)

In [36]:
#check for unusual values in 'exterior_2nd'
np.array(np.unique(ames_df['exterior_2nd'], return_counts=True)).T

#no unusual values in 'exterior_2nd'

array([['AsbShng', 10],
       ['AsphShn', 1],
       ['Brk Cmn', 5],
       ['BrkFace', 13],
       ['CBlock', 1],
       ['CmentBd', 35],
       ['HdBoard', 131],
       ['ImStucc', 4],
       ['MetalSd', 123],
       ['Other', 1],
       ['Plywood', 89],
       ['PreCast', 1],
       ['Stucco', 17],
       ['VinylSd', 294],
       ['Wd Sdng', 135],
       ['Wd Shng', 18]], dtype=object)

In [37]:
#fill empty cells in 'mas_vnr_type' column with 'None'
ames_df['mas_vnr_type'].fillna('None', inplace = True)

In [38]:
#check for unusual values in 'mas_vnr_type'
np.array(np.unique(ames_df['mas_vnr_type'], return_counts=True)).T

#no unusual values in 'mas_vnr_type'

array([['BrkCmn', 12],
       ['BrkFace', 250],
       ['CBlock', 1],
       ['None', 535],
       ['Stone', 80]], dtype=object)

In [39]:
#check for unusual values in 'mas_vnr_type'
np.array(np.unique(ames_df['mas_vnr_area'], return_counts=True)).T

#'mas_vnr_type' contains 22 null values.

array([[0.000e+00, 5.320e+02],
       [1.100e+01, 1.000e+00],
       [1.400e+01, 2.000e+00],
       [1.600e+01, 2.000e+00],
       [1.800e+01, 1.000e+00],
       [2.000e+01, 2.000e+00],
       [2.300e+01, 1.000e+00],
       [3.200e+01, 1.000e+00],
       [3.400e+01, 1.000e+00],
       [4.400e+01, 2.000e+00],
       [4.500e+01, 2.000e+00],
       [4.800e+01, 1.000e+00],
       [5.000e+01, 3.000e+00],
       [5.100e+01, 1.000e+00],
       [5.200e+01, 1.000e+00],
       [5.300e+01, 2.000e+00],
       [5.400e+01, 1.000e+00],
       [5.800e+01, 1.000e+00],
       [6.000e+01, 1.000e+00],
       [6.500e+01, 1.000e+00],
       [6.600e+01, 1.000e+00],
       [6.700e+01, 1.000e+00],
       [6.800e+01, 1.000e+00],
       [7.000e+01, 2.000e+00],
       [7.200e+01, 2.000e+00],
       [7.400e+01, 1.000e+00],
       [7.500e+01, 1.000e+00],
       [7.600e+01, 2.000e+00],
       [8.000e+01, 5.000e+00],
       [8.100e+01, 1.000e+00],
       [8.200e+01, 2.000e+00],
       [8.400e+01, 1.000e+00],
       [8.500e+01, 1.000e+00],
       [8.800e+01, 3.000e+00],
       [8.900e+01, 1.000e+00],
       [9.000e+01, 3.000e+00],
       [9.100e+01, 1.000e+00],
       [9.400e+01, 1.000e+00],
       [9.500e+01, 1.000e+00],
       [9.600e+01, 1.000e+00],
       [9.800e+01, 2.000e+00],
       [9.900e+01, 2.000e+00],
       [1.000e+02, 2.000e+00],
       [1.010e+02, 1.000e+00],
       [1.040e+02, 2.000e+00],
       [1.060e+02, 2.000e+00],
       [1.080e+02, 2.000e+00],
       [1.120e+02, 1.000e+00],
       [1.130e+02, 1.000e+00],
       [1.140e+02, 1.000e+00],
       [1.150e+02, 1.000e+00],
       [1.160e+02, 1.000e+00],
       [1.170e+02, 1.000e+00],
       [1.200e+02, 4.000e+00],
       [1.230e+02, 2.000e+00],
       [1.280e+02, 3.000e+00],
       [1.300e+02, 2.000e+00],
       [1.340e+02, 1.000e+00],
       [1.360e+02, 1.000e+00],
       [1.370e+02, 1.000e+00],
       [1.400e+02, 1.000e+00],
       [1.410e+02, 1.000e+00],
       [1.420e+02, 1.000e+00],
       [1.430e+02, 1.000e+00],
       [1.440e+02, 4.000e+00],
       [1.450e+02, 1.000e+00],
       [1.470e+02, 2.000e+00],
       [1.490e+02, 3.000e+00],
       [1.500e+02, 2.000e+00],
       [1.510e+02, 1.000e+00],
       [1.530e+02, 2.000e+00],
       [1.560e+02, 2.000e+00],
       [1.610e+02, 2.000e+00],
       [1.620e+02, 2.000e+00],
       [1.640e+02, 2.000e+00],
       [1.660e+02, 2.000e+00],
       [1.690e+02, 2.000e+00],
       [1.700e+02, 1.000e+00],
       [1.710e+02, 1.000e+00],
       [1.720e+02, 1.000e+00],
       [1.740e+02, 2.000e+00],
       [1.750e+02, 1.000e+00],
       [1.760e+02, 3.000e+00],
       [1.780e+02, 2.000e+00],
       [1.800e+02, 3.000e+00],
       [1.820e+02, 3.000e+00],
       [1.870e+02, 1.000e+00],
       [1.880e+02, 1.000e+00],
       [1.890e+02, 1.000e+00],
       [1.900e+02, 1.000e+00],
       [1.940e+02, 3.000e+00],
       [1.960e+02, 5.000e+00],
       [1.980e+02, 3.000e+00],
       [2.000e+02, 3.000e+00],
       [2.030e+02, 1.000e+00],
       [2.050e+02, 2.000e+00],
       [2.060e+02, 2.000e+00],
       [2.070e+02, 1.000e+00],
       [2.080e+02, 1.000e+00],
       [2.090e+02, 2.000e+00],
       [2.120e+02, 1.000e+00],
       [2.150e+02, 2.000e+00],
       [2.160e+02, 7.000e+00],
       [2.170e+02, 1.000e+00],
       [2.180e+02, 1.000e+00],
       [2.200e+02, 1.000e+00],
       [2.230e+02, 1.000e+00],
       [2.260e+02, 2.000e+00],
       [2.270e+02, 1.000e+00],
       [2.290e+02, 1.000e+00],
       [2.300e+02, 1.000e+00],
       [2.320e+02, 2.000e+00],
       [2.330e+02, 1.000e+00],
       [2.360e+02, 1.000e+00],
       [2.380e+02, 1.000e+00],
       [2.400e+02, 3.000e+00],
       [2.460e+02, 2.000e+00],
       [2.470e+02, 1.000e+00],
       [2.480e+02, 1.000e+00],
       [2.500e+02, 1.000e+00],
       [2.520e+02, 2.000e+00],
       [2.560e+02, 2.000e+00],
       [2.580e+02, 1.000e+00],
       [2.590e+02, 1.000e+00],
       [2.600e+02, 2.000e+00],
       [2.610e+02, 1.000e+00],
       [2.630e+02, 1.000e+00],
       [2.640e+02, 1.000e+00],
       [2.650e+02, 2.000e+00],
       [2.660e+02, 2.000e+00],
       [2.680e+02, 2.000e+00],
       [2.700e+02, 3.000e+00],
       [2.800e+02, 2.000e+00],
       [2.810e+02, 1.000e+00],
       [2.840e+02, 1.000e+00],
       [2.850e+02, 3.000e+00],
       [2.860e+02, 2.000e+00],
       [2.870e+02, 1.000e+00],
       [2.880e+02, 1.000e+00],
       [2.930e+02, 1.000e+00],
       [2.950e+02, 1.000e+00],
       [2.970e+02, 1.000e+00],
       [3.000e+02, 2.000e+00],
       [3.020e+02, 3.000e+00],
       [3.040e+02, 1.000e+00],
       [3.050e+02, 2.000e+00],
       [3.060e+02, 3.000e+00],
       [3.080e+02, 1.000e+00],
       [3.100e+02, 1.000e+00],
       [3.120e+02, 1.000e+00],
       [3.180e+02, 1.000e+00],
       [3.200e+02, 2.000e+00],
       [3.280e+02, 1.000e+00],
       [3.400e+02, 4.000e+00],
       [3.420e+02, 1.000e+00],
       [3.500e+02, 2.000e+00],
       [3.520e+02, 2.000e+00],
       [3.560e+02, 1.000e+00],
       [3.590e+02, 1.000e+00],
       [3.600e+02, 2.000e+00],
       [3.620e+02, 1.000e+00],
       [3.640e+02, 1.000e+00],
       [3.660e+02, 1.000e+00],
       [3.680e+02, 1.000e+00],
       [3.710e+02, 1.000e+00],
       [3.780e+02, 1.000e+00],
       [3.800e+02, 1.000e+00],
       [3.880e+02, 1.000e+00],
       [3.960e+02, 1.000e+00],
       [3.990e+02, 1.000e+00],
       [4.050e+02, 1.000e+00],
       [4.080e+02, 1.000e+00],
       [4.100e+02, 1.000e+00],
       [4.150e+02, 1.000e+00],
       [4.200e+02, 5.000e+00],
       [4.220e+02, 1.000e+00],
       [4.230e+02, 2.000e+00],
       [4.300e+02, 1.000e+00],
       [4.320e+02, 1.000e+00],
       [4.350e+02, 1.000e+00],
       [4.380e+02, 1.000e+00],
       [4.400e+02, 1.000e+00],
       [4.440e+02, 1.000e+00],
       [4.480e+02, 1.000e+00],
       [4.500e+02, 2.000e+00],
       [4.560e+02, 3.000e+00],
       [4.590e+02, 1.000e+00],
       [4.640e+02, 1.000e+00],
       [4.680e+02, 1.000e+00],
       [4.720e+02, 1.000e+00],
       [4.730e+02, 1.000e+00],
       [4.800e+02, 1.000e+00],
       [4.810e+02, 1.000e+00],
       [4.920e+02, 1.000e+00],
       [4.950e+02, 1.000e+00],
       [5.000e+02, 1.000e+00],
       [5.010e+02, 1.000e+00],
       [5.040e+02, 1.000e+00],
       [5.090e+02, 1.000e+00],
       [5.130e+02, 1.000e+00],
       [5.150e+02, 1.000e+00],
       [5.250e+02, 1.000e+00],
       [5.320e+02, 1.000e+00],
       [5.490e+02, 1.000e+00],
       [5.500e+02, 1.000e+00],
       [5.670e+02, 1.000e+00],
       [5.680e+02, 1.000e+00],
       [5.840e+02, 1.000e+00],
       [5.940e+02, 1.000e+00],
       [6.000e+02, 1.000e+00],
       [6.150e+02, 1.000e+00],
       [6.210e+02, 2.000e+00],
       [6.320e+02, 1.000e+00],
       [6.340e+02, 1.000e+00],
       [6.530e+02, 1.000e+00],
       [6.570e+02, 1.000e+00],
       [6.740e+02, 1.000e+00],
       [6.800e+02, 1.000e+00],
       [7.260e+02, 1.000e+00],
       [7.540e+02, 1.000e+00],
       [7.680e+02, 1.000e+00],
       [7.710e+02, 1.000e+00],
       [7.880e+02, 1.000e+00],
       [8.700e+02, 1.000e+00],
       [8.770e+02, 1.000e+00],
       [9.210e+02, 1.000e+00],
       [9.750e+02, 1.000e+00],
       [1.159e+03, 1.000e+00],
       [1.170e+03, 1.000e+00],
       [1.224e+03, 1.000e+00],
       [1.290e+03, 1.000e+00],
       [1.378e+03, 1.000e+00],
       [      nan, 1.000e+00]])

In [40]:
#fill empty cells in 'mas_vnr_area' column with 0
ames_df['mas_vnr_area'].fillna(0, inplace = True)

In [41]:
#check for unusual values in 'exter_qual'
np.array(np.unique(ames_df['exter_qual'], return_counts=True)).T

#no unusual values in 'exter_qual'

array([['Ex', 25],
       ['Fa', 9],
       ['Gd', 292],
       ['TA', 552]], dtype=object)

In [42]:
#check for unusual values in 'exter_cond'
np.array(np.unique(ames_df['exter_cond'], return_counts=True)).T

#no unusual values in 'exter_cond'

array([['Ex', 5],
       ['Fa', 18],
       ['Gd', 84],
       ['Po', 1],
       ['TA', 770]], dtype=object)

In [43]:
#check for unusual values in 'foundation'
np.array(np.unique(ames_df['foundation'], return_counts=True)).T

#no unusual values in 'foundation'

array([['BrkTil', 90],
       ['CBlock', 381],
       ['PConc', 383],
       ['Slab', 15],
       ['Stone', 6],
       ['Wood', 3]], dtype=object)

In [44]:
#fill empty cells in 'bsmt_qual' column with 'None'
ames_df['bsmt_qual'].fillna('None', inplace = True)

In [45]:
#check for unusual values in 'bsmt_qual'
np.array(np.unique(ames_df['bsmt_qual'], return_counts=True)).T

#no unusual values in 'bsmt_qual'

array([['Ex', 73],
       ['Fa', 28],
       ['Gd', 355],
       ['None', 25],
       ['Po', 1],
       ['TA', 396]], dtype=object)

In [46]:
#fill empty cells in 'bsmt_cond' column with 'None'
ames_df['bsmt_cond'].fillna('None', inplace = True)

In [47]:
#check for unusual values in 'bsmt_cond'
np.array(np.unique(ames_df['bsmt_cond'], return_counts=True)).T

#no unusual values in 'bsmt_cond'

array([['Fa', 39],
       ['Gd', 33],
       ['None', 25],
       ['TA', 781]], dtype=object)

In [48]:
#fill empty cells in 'bsmt_exposure' column with 'None'
ames_df['bsmt_exposure'].fillna('None', inplace = True)

In [49]:
#check for unusual values in 'bsmt_exposure'
np.array(np.unique(ames_df['bsmt_exposure'], return_counts=True)).T

#no unusual values in 'bsmt_exposure'

array([['Av', 130],
       ['Gd', 80],
       ['Mn', 76],
       ['No', 567],
       ['None', 25]], dtype=object)

In [50]:
#fill empty cells in 'bsmtfin_type_1' column with 'None'
ames_df['bsmtfin_type_1'].fillna('None', inplace = True)

In [51]:
#check for unusual values in 'bsmtfin_type_1'
np.array(np.unique(ames_df['bsmtfin_type_1'], return_counts=True)).T

#no unusual values in 'bsmtfin_type_1'

array([['ALQ', 136],
       ['BLQ', 69],
       ['GLQ', 243],
       ['LwQ', 52],
       ['None', 25],
       ['Rec', 105],
       ['Unf', 248]], dtype=object)

In [52]:
#replace NaN with 0 in 'bsmtfin_sf_1'
ames_df['bsmtfin_sf_1'] = ames_df['bsmtfin_sf_1'].replace(np.nan,0)

In [53]:
#check for unusual values in 'bsmtfin_sf_1'
np.array(np.unique(ames_df['bsmtfin_sf_1'], return_counts=True)).T

#no unusual values in 'bsmtfin_sf_1'

array([[   0,  273],
       [  16,    4],
       [  20,    1],
       [  24,   10],
       [  28,    1],
       [  33,    1],
       [  36,    1],
       [  40,    1],
       [  48,    2],
       [  49,    1],
       [  53,    1],
       [  54,    1],
       [  60,    1],
       [  68,    2],
       [  70,    1],
       [  73,    1],
       [  75,    1],
       [  77,    1],
       [  80,    1],
       [ 104,    1],
       [ 110,    1],
       [ 114,    1],
       [ 116,    1],
       [ 119,    1],
       [ 120,    1],
       [ 121,    1],
       [ 122,    1],
       [ 125,    1],
       [ 144,    2],
       [ 148,    1],
       [ 150,    1],
       [ 152,    1],
       [ 154,    1],
       [ 156,    1],
       [ 165,    1],
       [ 168,    3],
       [ 169,    1],
       [ 173,    1],
       [ 175,    1],
       [ 176,    1],
       [ 180,    2],
       [ 182,    1],
       [ 185,    1],
       [ 187,    1],
       [ 188,    2],
       [ 190,    1],
       [ 192,    3],
       [ 194,    1],
       [ 196,    3],
       [ 197,    1],
       [ 203,    2],
       [ 204,    1],
       [ 210,    1],
       [ 212,    1],
       [ 216,    2],
       [ 218,    1],
       [ 220,    3],
       [ 224,    2],
       [ 225,    1],
       [ 231,    1],
       [ 236,    1],
       [ 238,    1],
       [ 241,    1],
       [ 248,    1],
       [ 249,    1],
       [ 250,    3],
       [ 251,    1],
       [ 252,    1],
       [ 256,    2],
       [ 257,    1],
       [ 260,    1],
       [ 262,    1],
       [ 267,    2],
       [ 271,    1],
       [ 276,    1],
       [ 278,    1],
       [ 280,    2],
       [ 281,    1],
       [ 283,    1],
       [ 284,    2],
       [ 288,    3],
       [ 292,    1],
       [ 294,    1],
       [ 297,    1],
       [ 299,    1],
       [ 300,    2],
       [ 301,    1],
       [ 306,    2],
       [ 308,    1],
       [ 309,    1],
       [ 310,    2],
       [ 311,    1],
       [ 315,    1],
       [ 316,    1],
       [ 317,    1],
       [ 320,    1],
       [ 322,    1],
       [ 324,    2],
       [ 329,    3],
       [ 331,    1],
       [ 332,    1],
       [ 334,    2],
       [ 336,    1],
       [ 337,    1],
       [ 338,    1],
       [ 339,    1],
       [ 340,    1],
       [ 341,    1],
       [ 343,    1],
       [ 346,    1],
       [ 347,    1],
       [ 351,    1],
       [ 352,    2],
       [ 353,    2],
       [ 354,    1],
       [ 356,    1],
       [ 360,    1],
       [ 366,    1],
       [ 370,    2],
       [ 371,    1],
       [ 372,    1],
       [ 374,    1],
       [ 375,    3],
       [ 378,    2],
       [ 379,    1],
       [ 380,    1],
       [ 381,    1],
       [ 383,    1],
       [ 384,    1],
       [ 387,    1],
       [ 388,    1],
       [ 390,    1],
       [ 397,    1],
       [ 399,    2],
       [ 400,    2],
       [ 402,    2],
       [ 403,    1],
       [ 404,    1],
       [ 405,    1],
       [ 406,    1],
       [ 408,    1],
       [ 412,    1],
       [ 414,    2],
       [ 415,    1],
       [ 420,    1],
       [ 421,    1],
       [ 426,    2],
       [ 427,    1],
       [ 428,    1],
       [ 435,    1],
       [ 438,    1],
       [ 439,    1],
       [ 442,    1],
       [ 445,    2],
       [ 450,    1],
       [ 454,    1],
       [ 455,    1],
       [ 456,    1],
       [ 457,    1],
       [ 459,    1],
       [ 460,    1],
       [ 462,    1],
       [ 466,    1],
       [ 468,    2],
       [ 471,    1],
       [ 472,    1],
       [ 474,    2],
       [ 480,    3],
       [ 483,    3],
       [ 484,    2],
       [ 486,    1],
       [ 489,    2],
       [ 490,    1],
       [ 491,    1],
       [ 493,    1],
       [ 498,    1],
       [ 500,    3],
       [ 502,    1],
       [ 503,    1],
       [ 504,    3],
       [ 505,    1],
       [ 509,    1],
       [ 512,    1],
       [ 513,    1],
       [ 515,    1],
       [ 518,    1],
       [ 520,    3],
       [ 521,    1],
       [ 523,    1],
       [ 524,    1],
       [ 528,    2],
       [ 536,    1],
       [ 539,    2],
       [ 540,    2],
       [ 544,    2],
       [ 546,    2],
       [ 547,    2],
       [ 550,    2],
       [ 552,    2],
       [ 553,    1],
       [ 554,    1],
       [ 559,    1],
       [ 560,    3],
       [ 562,    1],
       [ 564,    2],
       [ 565,    1],
       [ 567,    1],
       [ 572,    1],
       [ 574,    1],
       [ 575,    1],
       [ 576,    1],
       [ 577,    1],
       [ 583,    1],
       [ 584,    2],
       [ 585,    1],
       [ 588,    2],
       [ 590,    1],
       [ 592,    1],
       [ 593,    2],
       [ 595,    3],
       [ 596,    1],
       [ 600,    4],
       [ 601,    1],
       [ 602,    4],
       [ 604,    1],
       [ 605,    1],
       [ 609,    1],
       [ 611,    1],
       [ 612,    1],
       [ 614,    1],
       [ 616,    2],
       [ 623,    1],
       [ 624,    1],
       [ 625,    1],
       [ 632,    2],
       [ 633,    2],
       [ 636,    1],
       [ 641,    2],
       [ 642,    1],
       [ 643,    2],
       [ 646,    2],
       [ 649,    1],
       [ 650,    1],
       [ 652,    1],
       [ 655,    1],
       [ 656,    2],
       [ 658,    1],
       [ 659,    1],
       [ 660,    2],
       [ 662,    4],
       [ 663,    2],
       [ 664,    1],
       [ 666,    1],
       [ 670,    1],
       [ 671,    1],
       [ 672,    2],
       [ 680,    1],
       [ 685,    1],
       [ 687,    1],
       [ 695,    1],
       [ 697,    2],
       [ 698,    2],
       [ 700,    1],
       [ 701,    1],
       [ 704,    1],
       [ 706,    1],
       [ 709,    1],
       [ 712,    2],
       [ 714,    1],
       [ 719,    1],
       [ 724,    2],
       [ 726,    1],
       [ 728,    1],
       [ 729,    1],
       [ 732,    1],
       [ 733,    1],
       [ 734,    2],
       [ 735,    1],
       [ 736,    1],
       [ 739,    2],
       [ 746,    1],
       [ 747,    1],
       [ 749,    1],
       [ 755,    1],
       [ 758,    1],
       [ 760,    1],
       [ 763,    1],
       [ 765,    1],
       [ 766,    1],
       [ 767,    3],
       [ 769,    1],
       [ 771,    1],
       [ 773,    1],
       [ 777,    2],
       [ 779,    2],
       [ 781,    1],
       [ 782,    1],
       [ 784,    1],
       [ 788,    1],
       [ 789,    1],
       [ 793,    2],
       [ 795,    1],
       [ 796,    1],
       [ 799,    2],
       [ 800,    2],
       [ 804,    1],
       [ 810,    1],
       [ 811,    1],
       [ 812,    2],
       [ 814,    1],
       [ 816,    2],
       [ 820,    1],
       [ 822,    2],
       [ 824,    1],
       [ 828,    2],
       [ 831,    1],
       [ 832,    1],
       [ 833,    1],
       [ 844,    1],
       [ 846,    1],
       [ 847,    1],
       [ 850,    1],
       [ 852,    1],
       [ 853,    1],
       [ 854,    1],
       [ 856,    1],
       [ 859,    1],
       [ 860,    2],
       [ 862,    1],
       [ 864,    2],
       [ 865,    1],
       [ 866,    2],
       [ 870,    2],
       [ 871,    2],
       [ 873,    1],
       [ 876,    1],
       [ 880,    1],
       [ 881,    1],
       [ 885,    1],
       [ 890,    2],
       [ 892,    1],
       [ 899,    1],
       [ 902,    2],
       [ 904,    1],
       [ 908,    1],
       [ 910,    1],
       [ 912,    1],
       [ 913,    1],
       [ 915,    2],
       [ 920,    1],
       [ 922,    2],
       [ 931,    1],
       [ 932,    1],
       [ 936,    4],
       [ 938,    1],
       [ 943,    1],
       [ 944,    1],
       [ 946,    1],
       [ 949,    1],
       [ 958,    2],
       [ 960,    1],
       [ 962,    2],
       [ 965,    1],
       [ 970,    1],
       [ 973,    1],
       [ 975,    2],
       [ 982,    1],
       [ 986,    1],
       [ 988,    1],
       [ 994,    1],
       [ 996,    1],
       [ 998,    2],
       [1000,    2],
       [1005,    1],
       [1009,    1],
       [1012,    1],
       [1022,    1],
       [1024,    1],
       [1026,    1],
       [1029,    1],
       [1030,    1],
       [1035,    1],
       [1036,    1],
       [1046,    1],
       [1053,    1],
       [1056,    1],
       [1059,    1],
       [1064,    1],
       [1065,    1],
       [1070,    1],
       [1073,    1],
       [1079,    1],
       [1082,    1],
       [1084,    1],
       [1094,    1],
       [1096,    1],
       [1104,    1],
       [1111,    1],
       [1112,    1],
       [1126,    1],
       [1127,    1],
       [1129,    1],
       [1138,    1],
       [1141,    1],
       [1142,    1],
       [1150,    1],
       [1151,    1],
       [1152,    1],
       [1159,    1],
       [1181,    1],
       [1182,    1],
       [1186,    1],
       [1191,    1],
       [1216,    1],
       [1220,    1],
       [1224,    1],
       [1230,    1],
       [1236,    1],
       [1249,    2],
       [1252,    1],
       [1258,    2],
       [1260,    1],
       [1274,    2],
       [1283,    1],
       [1294,    1],
       [1300,    2],
       [1304,    1],
       [1308,    1],
       [1324,    1],
       [1334,    1],
       [1350,    1],
       [1351,    1],
       [1359,    1],
       [1360,    2],
       [1373,    1],
       [1383,    1],
       [1387,    1],
       [1410,    1],
       [1414,    1],
       [1416,    1],
       [1420,    1],
       [1422,    1],
       [1436,    1],
       [1443,    1],
       [1445,    1],
       [1455,    1],
       [1460,    1],
       [1464,    1],
       [1500,    1],
       [1572,    1],
       [1573,    2],
       [1576,    1],
       [1646,    1],
       [1660,    1],
       [1721,    1],
       [1732,    1],
       [1812,    1],
       [1836,    1],
       [1965,    1],
       [2096,    1],
       [2257,    1],
       [2288,    1]], dtype=int64)

In [54]:
#fill empty cells in 'bsmtfin_type_2' column with 'None'
ames_df['bsmtfin_type_2'].fillna('None', inplace = True)

In [55]:
#check for unusual values in 'bsmtfin_type_2'
np.array(np.unique(ames_df['bsmtfin_type_2'], return_counts=True)).T

#no unusual values in 'bsmtfin_type_2'

array([['ALQ', 18],
       ['BLQ', 20],
       ['GLQ', 11],
       ['LwQ', 29],
       ['None', 25],
       ['Rec', 26],
       ['Unf', 749]], dtype=object)

In [56]:
#replace NaN with 0 in 'bsmtfin_sf_2'
ames_df['bsmtfin_sf_2'] = ames_df['bsmtfin_sf_2'].replace(np.nan,0)

In [57]:
#check for unusual values in 'bsmtfin_sf_2'
np.array(np.unique(ames_df['bsmtfin_sf_2'], return_counts=True)).T

#no unusual values in 'bsmtfin_sf_2'

array([[   0,  774],
       [  32,    1],
       [  40,    1],
       [  42,    1],
       [  46,    1],
       [  48,    1],
       [  63,    1],
       [  78,    1],
       [  93,    1],
       [ 121,    1],
       [ 136,    1],
       [ 139,    1],
       [ 144,    1],
       [ 147,    2],
       [ 153,    1],
       [ 165,    1],
       [ 168,    2],
       [ 174,    1],
       [ 176,    1],
       [ 180,    2],
       [ 182,    2],
       [ 184,    1],
       [ 193,    1],
       [ 210,    1],
       [ 216,    1],
       [ 240,    1],
       [ 243,    1],
       [ 250,    1],
       [ 252,    1],
       [ 264,    1],
       [ 276,    1],
       [ 279,    1],
       [ 287,    2],
       [ 288,    1],
       [ 319,    1],
       [ 336,    1],
       [ 337,    1],
       [ 344,    1],
       [ 350,    1],
       [ 352,    1],
       [ 360,    1],
       [ 362,    1],
       [ 374,    2],
       [ 391,    2],
       [ 393,    1],
       [ 396,    1],
       [ 398,    1],
       [ 400,    1],
       [ 402,    1],
       [ 435,    2],
       [ 438,    1],
       [ 448,    1],
       [ 449,    1],
       [ 453,    1],
       [ 456,    1],
       [ 468,    1],
       [ 472,    1],
       [ 480,    2],
       [ 491,    1],
       [ 492,    1],
       [ 512,    1],
       [ 530,    1],
       [ 543,    1],
       [ 544,    1],
       [ 606,    1],
       [ 627,    1],
       [ 630,    1],
       [ 634,    1],
       [ 668,    1],
       [ 679,    1],
       [ 682,    1],
       [ 684,    1],
       [ 690,    1],
       [ 691,    1],
       [ 694,    1],
       [ 712,    1],
       [ 723,    1],
       [ 755,    1],
       [ 764,    1],
       [ 791,    1],
       [ 799,    1],
       [ 820,    1],
       [ 826,    1],
       [ 831,    1],
       [ 841,    1],
       [ 873,    1],
       [ 884,    1],
       [ 904,    1],
       [ 912,    1],
       [ 972,    1],
       [ 981,    1],
       [1020,    1],
       [1029,    1],
       [1031,    1],
       [1164,    1],
       [1526,    1]], dtype=int64)

In [58]:
#replace NaN with 0
ames_df['bsmt_unf_sf'] = ames_df['bsmt_unf_sf'].replace(np.nan,0)

In [59]:
#check for unusual values in 'bsmt_unf_sf'
np.array(np.unique(ames_df['bsmt_unf_sf'], return_counts=True)).T

#no unusual values in 'bsmt_unf_sf'

array([[   0,   79],
       [  14,    1],
       [  22,    1],
       ...,
       [2002,    1],
       [2042,    1],
       [2046,    1]], dtype=int64)

In [60]:
#replace NaN with 0
ames_df['total_bsmt_sf'] = ames_df['total_bsmt_sf'].replace(np.nan,0)

In [61]:
#check for unusual values in 'total_bsmt_sf'
np.array(np.unique(ames_df['total_bsmt_sf'], return_counts=True)).T

#no unusual values in 'total_bsmt_sf'

array([[   0,   25],
       [ 105,    1],
       [ 240,    1],
       ...,
       [2535,    1],
       [2552,    1],
       [2630,    1]], dtype=int64)

In [62]:
#check for unusual values
np.array(np.unique(ames_df['heating'], return_counts=True)).T

array([['Floor', 1],
       ['GasA', 866],
       ['GasW', 7],
       ['Grav', 4]], dtype=object)

In [63]:
#check for unusual values
np.array(np.unique(ames_df['heating_qc'], return_counts=True)).T

array([['Ex', 429],
       ['Fa', 25],
       ['Gd', 157],
       ['TA', 267]], dtype=object)

In [64]:
#check for unusual values
np.array(np.unique(ames_df['central_air'], return_counts=True)).T

array([['N', 55],
       ['Y', 823]], dtype=object)

In [65]:
ames_df['electrical'].value_counts(dropna=False)

SBrkr    813
FuseA     48
FuseF     15
NaN        1
FuseP      1
Name: electrical, dtype: int64

In [66]:
#replace NaN with 'SBrKr'
ames_df['electrical'] = ames_df['electrical'].replace(np.nan,'SBrKr')

In [67]:
#check for unusual values
np.array(np.unique(ames_df['electrical'], return_counts=True)).T

array([['FuseA', 48],
       ['FuseF', 15],
       ['FuseP', 1],
       ['SBrKr', 1],
       ['SBrkr', 813]], dtype=object)

In [68]:
#check for unusual values
np.array(np.unique(ames_df['1st_flr_sf'], return_counts=True)).T

array([[ 407,    1],
       [ 432,    1],
       [ 442,    1],
       ...,
       [2522,    1],
       [2552,    1],
       [2674,    1]], dtype=int64)

In [69]:
#check for unusual values
np.array(np.unique(ames_df['2nd_flr_sf'], return_counts=True)).T

array([[   0,  487],
       [ 110,    1],
       [ 167,    1],
       [ 180,    1],
       [ 182,    1],
       [ 185,    1],
       [ 192,    1],
       [ 208,    1],
       [ 218,    1],
       [ 224,    1],
       [ 228,    1],
       [ 240,    1],
       [ 308,    1],
       [ 320,    1],
       [ 330,    1],
       [ 336,    1],
       [ 343,    1],
       [ 348,    1],
       [ 349,    1],
       [ 363,    1],
       [ 368,    1],
       [ 375,    1],
       [ 378,    3],
       [ 380,    2],
       [ 384,    1],
       [ 403,    1],
       [ 406,    2],
       [ 412,    1],
       [ 424,    2],
       [ 432,    2],
       [ 434,    1],
       [ 436,    1],
       [ 442,    2],
       [ 456,    1],
       [ 457,    1],
       [ 464,    1],
       [ 468,    1],
       [ 472,    1],
       [ 473,    2],
       [ 496,    1],
       [ 499,    1],
       [ 501,    1],
       [ 504,    3],
       [ 510,    1],
       [ 511,    1],
       [ 512,    1],
       [ 514,    1],
       [ 516,    2],
       [ 517,    1],
       [ 520,    1],
       [ 523,    1],
       [ 530,    1],
       [ 532,    1],
       [ 544,    1],
       [ 546,   11],
       [ 548,    1],
       [ 550,    2],
       [ 551,    1],
       [ 552,    1],
       [ 554,    1],
       [ 557,    1],
       [ 558,    1],
       [ 560,    1],
       [ 564,    1],
       [ 566,    1],
       [ 567,    1],
       [ 568,    2],
       [ 580,    1],
       [ 581,    1],
       [ 588,    1],
       [ 594,    1],
       [ 595,    2],
       [ 596,    1],
       [ 600,    3],
       [ 601,    2],
       [ 604,    2],
       [ 610,    1],
       [ 611,    1],
       [ 612,    1],
       [ 620,    1],
       [ 623,    1],
       [ 625,    1],
       [ 630,    2],
       [ 631,    1],
       [ 638,    1],
       [ 640,    1],
       [ 644,    1],
       [ 646,    1],
       [ 648,    2],
       [ 649,    1],
       [ 651,    2],
       [ 656,    3],
       [ 660,    1],
       [ 661,    1],
       [ 662,    1],
       [ 665,    1],
       [ 668,    1],
       [ 670,    2],
       [ 671,    1],
       [ 672,    4],
       [ 674,    1],
       [ 676,    4],
       [ 678,    1],
       [ 682,    1],
       [ 683,    2],
       [ 686,    2],
       [ 687,    2],
       [ 688,    2],
       [ 695,    1],
       [ 697,    1],
       [ 701,    1],
       [ 702,    2],
       [ 703,    1],
       [ 704,    1],
       [ 708,    1],
       [ 709,    1],
       [ 713,    2],
       [ 714,    3],
       [ 715,    1],
       [ 716,    1],
       [ 717,    1],
       [ 720,    5],
       [ 728,    3],
       [ 730,    1],
       [ 738,    1],
       [ 739,    2],
       [ 741,    1],
       [ 742,    2],
       [ 744,    2],
       [ 748,    2],
       [ 752,    1],
       [ 754,    1],
       [ 756,    3],
       [ 764,    2],
       [ 765,    1],
       [ 767,    1],
       [ 768,    2],
       [ 769,    1],
       [ 772,    2],
       [ 780,    4],
       [ 782,    1],
       [ 783,    1],
       [ 784,    2],
       [ 790,    1],
       [ 792,    1],
       [ 793,    3],
       [ 795,    2],
       [ 797,    1],
       [ 798,    1],
       [ 800,    3],
       [ 804,    1],
       [ 807,    2],
       [ 809,    2],
       [ 810,    1],
       [ 812,    1],
       [ 813,    2],
       [ 814,    1],
       [ 815,    1],
       [ 816,    2],
       [ 821,    1],
       [ 823,    1],
       [ 825,    1],
       [ 826,    1],
       [ 828,    1],
       [ 830,    2],
       [ 832,    2],
       [ 839,    1],
       [ 840,    5],
       [ 845,    1],
       [ 846,    2],
       [ 850,    3],
       [ 854,    1],
       [ 855,    1],
       [ 858,    1],
       [ 860,    1],
       [ 862,    2],
       [ 866,    1],
       [ 867,    1],
       [ 870,    1],
       [ 871,    3],
       [ 873,    2],
       [ 876,    1],
       [ 878,    4],
       [ 880,    2],
       [ 884,    1],
       [ 885,    2],
       [ 886,    2],
       [ 888,    1],
       [ 893,    1],
       [ 896,    2],
       [ 898,    1],
       [ 900,    3],
       [ 901,    1],
       [ 904,    1],
       [ 908,    2],
       [ 917,    1],
       [ 918,    2],
       [ 919,    1],
       [ 920,    1],
       [ 925,    1],
       [ 926,    1],
       [ 930,    1],
       [ 933,    1],
       [ 939,    1],
       [ 942,    2],
       [ 943,    1],
       [ 955,    1],
       [ 959,    1],
       [ 960,    1],
       [ 966,    1],
       [ 967,    1],
       [ 972,    1],
       [ 975,    1],
       [ 976,    1],
       [ 978,    1],
       [ 979,    1],
       [ 983,    1],
       [ 988,    1],
       [ 989,    1],
       [ 992,    1],
       [ 994,    1],
       [ 995,    1],
       [1000,    1],
       [1008,    1],
       [1012,    3],
       [1015,    1],
       [1017,    1],
       [1020,    1],
       [1031,    1],
       [1037,    1],
       [1039,    1],
       [1048,    1],
       [1051,    1],
       [1053,    1],
       [1054,    1],
       [1067,    1],
       [1072,    1],
       [1075,    1],
       [1080,    1],
       [1081,    1],
       [1087,    1],
       [1098,    1],
       [1111,    1],
       [1112,    1],
       [1116,    2],
       [1121,    1],
       [1124,    1],
       [1134,    2],
       [1140,    1],
       [1141,    1],
       [1142,    1],
       [1150,    1],
       [1164,    1],
       [1175,    1],
       [1178,    1],
       [1182,    1],
       [1189,    1],
       [1208,    1],
       [1215,    1],
       [1216,    2],
       [1218,    1],
       [1240,    1],
       [1243,    1],
       [1254,    1],
       [1281,    1],
       [1286,    1],
       [1296,    2],
       [1315,    1],
       [1320,    1],
       [1321,    1],
       [1332,    1],
       [1336,    1],
       [1358,    1],
       [1360,    1],
       [1362,    1],
       [1402,    1],
       [1405,    1],
       [1479,    1],
       [1619,    1],
       [1629,    1],
       [1778,    1],
       [1788,    1],
       [1796,    1],
       [1872,    1],
       [2065,    1]], dtype=int64)

In [70]:
#check for unusual values
np.array(np.unique(ames_df['low_qual_fin_sf'], return_counts=True)).T

array([[  0, 871],
       [ 80,   1],
       [232,   1],
       [360,   1],
       [392,   1],
       [420,   1],
       [431,   1],
       [481,   1]], dtype=int64)

In [71]:
#check for unusual values
np.array(np.unique(ames_df['gr_liv_area'], return_counts=True)).T

array([[ 407,    1],
       [ 599,    1],
       [ 630,    4],
       ...,
       [3627,    1],
       [4316,    1],
       [4476,    1]], dtype=int64)

In [72]:
#replace NaN with 0
ames_df['bsmt_full_bath'] = ames_df['bsmt_full_bath'].replace(np.nan,0)

In [73]:
#check for unusual values
np.array(np.unique(ames_df['bsmt_full_bath'], return_counts=True)).T

array([[  0, 507],
       [  1, 356],
       [  2,  15]], dtype=int64)

In [74]:
#replace NaN with 0
ames_df['bsmt_half_bath'] = ames_df['bsmt_half_bath'].replace(np.nan,0)

In [75]:
#check for unusual values
np.array(np.unique(ames_df['bsmt_half_bath'], return_counts=True)).T

array([[  0, 829],
       [  1,  49]], dtype=int64)

In [76]:
#check for unusual values
np.array(np.unique(ames_df['full_bath'], return_counts=True)).T

array([[  0,   4],
       [  1, 418],
       [  2, 436],
       [  3,  18],
       [  4,   2]], dtype=int64)

In [77]:
#check for unusual values
np.array(np.unique(ames_df['half_bath'], return_counts=True)).T

array([[  0, 535],
       [  1, 336],
       [  2,   7]], dtype=int64)

In [78]:
#check for unusual values
np.array(np.unique(ames_df['bedroom_abvgr'], return_counts=True)).T

array([[  0,   3],
       [  1,  37],
       [  2, 199],
       [  3, 488],
       [  4, 135],
       [  5,   7],
       [  6,   9]], dtype=int64)

In [79]:
#check for unusual values
np.array(np.unique(ames_df['kitchen_abvgr'], return_counts=True)).T

array([[  0,   1],
       [  1, 835],
       [  2,  41],
       [  3,   1]], dtype=int64)

In [80]:
#check for unusual values
np.array(np.unique(ames_df['kitchen_qual'], return_counts=True)).T

array([['Ex', 53],
       ['Fa', 23],
       ['Gd', 354],
       ['Po', 1],
       ['TA', 447]], dtype=object)

In [81]:
#check for unusual values
np.array(np.unique(ames_df['totrms_abvgrd'], return_counts=True)).T

array([[  3,  14],
       [  4,  57],
       [  5, 179],
       [  6, 247],
       [  7, 174],
       [  8, 119],
       [  9,  45],
       [ 10,  31],
       [ 11,   9],
       [ 12,   3]], dtype=int64)

In [82]:
#check for unusual values
np.array(np.unique(ames_df['functional'], return_counts=True)).T

array([['Maj1', 7],
       ['Maj2', 2],
       ['Min1', 23],
       ['Min2', 28],
       ['Mod', 6],
       ['Typ', 812]], dtype=object)

In [83]:
#check for unusual values
np.array(np.unique(ames_df['fireplaces'], return_counts=True)).T

array([[  0, 422],
       [  1, 375],
       [  2,  75],
       [  3,   6]], dtype=int64)

In [84]:
#replace NaN values with None
ames_df['fireplace_qu'] = ames_df['fireplace_qu'].replace(np.nan,'None')

In [85]:
#check for unusual values
np.array(np.unique(ames_df['fireplace_qu'], return_counts=True)).T

array([['Ex', 12],
       ['Fa', 16],
       ['Gd', 220],
       ['None', 422],
       ['Po', 15],
       ['TA', 193]], dtype=object)

In [86]:
#replace NaN values with None
ames_df['garage_type'] = ames_df['garage_type'].replace(np.nan,'None')

In [87]:
#check for unusual values
np.array(np.unique(ames_df['garage_type'], return_counts=True)).T

array([['2Types', 4],
       ['Attchd', 518],
       ['Basment', 9],
       ['BuiltIn', 53],
       ['CarPort', 4],
       ['Detchd', 246],
       ['None', 44]], dtype=object)

In [88]:
#replace NaN values with 0
ames_df['garage_yr_blt'] = ames_df['garage_yr_blt'].replace(np.nan,0)

In [89]:
#convert 'garage_yr_blt' to int type
ames_df['garage_yr_blt'] = ames_df['garage_yr_blt'].astype(int)

In [90]:
ames_df['garage_yr_blt'].dtypes

dtype('int32')

In [91]:
#replace NaN values with None
ames_df['garage_finish'] = ames_df['garage_finish'].replace(np.nan,'None')

In [92]:
#check for unusual values
np.array(np.unique(ames_df['garage_finish'], return_counts=True)).T

array([['Fin', 218],
       ['None', 45],
       ['RFn', 233],
       ['Unf', 382]], dtype=object)

In [93]:
#replace NaN values with 0
ames_df['garage_cars'] = ames_df['garage_cars'].replace(np.nan,0)

In [94]:
#convert 'garage_cars' to int type
ames_df['garage_cars']=ames_df['garage_cars'].astype(int)

In [95]:
#check for unusual values
np.array(np.unique(ames_df['garage_cars'], return_counts=True)).T

array([[  0,  44],
       [  1, 254],
       [  2, 467],
       [  3, 110],
       [  4,   3]], dtype=int64)

In [96]:
ames_df['garage_cars'].dtypes

dtype('int32')

In [97]:
#replace NaN values with 0
ames_df['garage_area'] = ames_df['garage_area'].replace(np.nan,0)

In [98]:
#convert 'garage_area' to int type
ames_df['garage_area']=ames_df['garage_area'].astype(int)

In [99]:
#check for unusual values
np.array(np.unique(ames_df['garage_area'], return_counts=True)).T

array([[   0,   44],
       [ 160,    1],
       [ 162,    1],
       [ 164,    1],
       [ 180,    2],
       [ 184,    1],
       [ 186,    1],
       [ 189,    1],
       [ 192,    1],
       [ 195,    2],
       [ 200,    4],
       [ 205,    1],
       [ 210,    1],
       [ 215,    1],
       [ 216,    7],
       [ 220,    1],
       [ 224,    1],
       [ 225,    1],
       [ 230,    1],
       [ 234,    1],
       [ 240,   24],
       [ 244,    1],
       [ 250,    2],
       [ 252,    5],
       [ 253,    1],
       [ 256,    1],
       [ 258,    1],
       [ 260,    2],
       [ 264,   18],
       [ 266,    1],
       [ 270,    1],
       [ 272,    1],
       [ 273,    2],
       [ 275,    2],
       [ 276,    1],
       [ 280,    6],
       [ 281,    1],
       [ 286,   11],
       [ 287,    2],
       [ 288,    7],
       [ 290,    1],
       [ 292,    1],
       [ 294,    3],
       [ 297,    3],
       [ 299,    4],
       [ 300,    5],
       [ 301,    2],
       [ 303,    1],
       [ 305,    1],
       [ 307,    1],
       [ 308,   16],
       [ 312,    4],
       [ 315,    5],
       [ 318,    3],
       [ 320,    4],
       [ 322,    2],
       [ 324,    2],
       [ 326,    1],
       [ 328,    1],
       [ 332,    1],
       [ 336,   11],
       [ 338,    1],
       [ 340,    1],
       [ 342,    1],
       [ 344,    1],
       [ 345,    1],
       [ 350,    1],
       [ 351,    1],
       [ 352,    5],
       [ 354,    1],
       [ 355,    2],
       [ 360,    6],
       [ 364,    1],
       [ 365,    2],
       [ 366,    1],
       [ 367,    1],
       [ 368,    1],
       [ 369,    1],
       [ 370,    2],
       [ 374,    1],
       [ 377,    1],
       [ 379,    3],
       [ 380,    2],
       [ 384,    8],
       [ 388,    2],
       [ 390,    6],
       [ 392,    1],
       [ 393,    1],
       [ 396,    4],
       [ 397,    2],
       [ 398,    1],
       [ 399,    1],
       [ 400,   15],
       [ 402,    1],
       [ 403,    1],
       [ 404,    1],
       [ 408,    1],
       [ 409,    3],
       [ 410,    2],
       [ 412,    1],
       [ 413,    1],
       [ 414,    1],
       [ 416,    2],
       [ 418,    1],
       [ 420,   11],
       [ 422,    1],
       [ 424,    1],
       [ 425,    1],
       [ 426,    1],
       [ 429,    2],
       [ 430,    2],
       [ 431,    1],
       [ 432,    3],
       [ 433,    1],
       [ 434,    4],
       [ 437,    3],
       [ 438,    1],
       [ 439,    1],
       [ 440,   26],
       [ 441,    3],
       [ 443,    1],
       [ 444,    1],
       [ 445,    1],
       [ 450,    2],
       [ 451,    4],
       [ 452,    2],
       [ 453,    1],
       [ 454,    1],
       [ 455,    1],
       [ 456,    1],
       [ 457,    2],
       [ 459,    1],
       [ 460,    6],
       [ 461,    3],
       [ 462,    6],
       [ 463,    1],
       [ 464,    1],
       [ 465,    1],
       [ 466,    2],
       [ 467,    2],
       [ 468,    1],
       [ 470,    3],
       [ 472,    3],
       [ 473,    3],
       [ 474,    2],
       [ 476,    1],
       [ 478,    1],
       [ 480,   15],
       [ 481,    1],
       [ 482,    1],
       [ 483,    2],
       [ 484,   24],
       [ 486,    2],
       [ 488,    1],
       [ 489,    1],
       [ 490,    2],
       [ 492,    4],
       [ 493,    1],
       [ 495,    8],
       [ 496,    1],
       [ 497,    2],
       [ 498,    1],
       [ 500,    2],
       [ 502,    4],
       [ 504,    3],
       [ 506,    8],
       [ 508,    1],
       [ 509,    1],
       [ 511,    3],
       [ 512,    2],
       [ 513,    2],
       [ 514,    2],
       [ 515,    2],
       [ 516,    2],
       [ 517,    1],
       [ 518,    1],
       [ 520,    5],
       [ 521,    2],
       [ 522,    2],
       [ 523,    2],
       [ 524,    2],
       [ 525,    5],
       [ 527,    3],
       [ 528,   19],
       [ 529,    2],
       [ 530,    3],
       [ 533,    1],
       [ 538,    2],
       [ 539,    4],
       [ 540,    4],
       [ 541,    1],
       [ 544,    4],
       [ 545,    1],
       [ 546,    2],
       [ 548,    2],
       [ 550,    4],
       [ 551,    1],
       [ 552,    2],
       [ 554,    1],
       [ 556,    1],
       [ 558,    1],
       [ 561,    1],
       [ 564,    4],
       [ 565,    2],
       [ 566,    1],
       [ 568,    1],
       [ 570,    3],
       [ 571,    2],
       [ 574,    2],
       [ 575,    2],
       [ 576,   28],
       [ 577,    1],
       [ 578,    1],
       [ 580,    3],
       [ 582,    2],
       [ 583,    1],
       [ 586,    2],
       [ 588,    5],
       [ 592,    1],
       [ 596,    2],
       [ 597,    1],
       [ 599,    1],
       [ 600,    2],
       [ 603,    1],
       [ 605,    1],
       [ 606,    1],
       [ 608,    3],
       [ 610,    2],
       [ 612,    1],
       [ 613,    1],
       [ 614,    1],
       [ 615,    3],
       [ 616,    1],
       [ 617,    2],
       [ 621,    2],
       [ 624,    3],
       [ 625,    3],
       [ 626,    1],
       [ 627,    2],
       [ 628,    1],
       [ 630,    2],
       [ 631,    2],
       [ 632,    2],
       [ 636,    1],
       [ 638,    1],
       [ 640,    2],
       [ 641,    1],
       [ 642,    4],
       [ 644,    3],
       [ 645,    1],
       [ 646,    1],
       [ 647,    2],
       [ 648,    3],
       [ 649,    1],
       [ 650,    2],
       [ 656,    1],
       [ 660,    2],
       [ 662,    1],
       [ 666,    2],
       [ 668,    1],
       [ 670,    2],
       [ 672,    6],
       [ 675,    1],
       [ 676,    2],
       [ 678,    1],
       [ 684,    2],
       [ 685,    1],
       [ 686,    2],
       [ 688,    1],
       [ 693,    1],
       [ 702,    1],
       [ 704,    1],
       [ 706,    1],
       [ 708,    1],
       [ 712,    1],
       [ 713,    1],
       [ 714,    1],
       [ 722,    2],
       [ 730,    3],
       [ 732,    1],
       [ 736,    2],
       [ 740,    1],
       [ 746,    2],
       [ 747,    1],
       [ 749,    1],
       [ 753,    1],
       [ 754,    1],
       [ 756,    1],
       [ 758,    2],
       [ 762,    2],
       [ 765,    1],
       [ 773,    1],
       [ 774,    1],
       [ 776,    1],
       [ 779,    1],
       [ 784,    2],
       [ 786,    1],
       [ 789,    1],
       [ 791,    1],
       [ 792,    1],
       [ 795,    1],
       [ 800,    1],
       [ 803,    1],
       [ 807,    1],
       [ 813,    1],
       [ 815,    1],
       [ 816,    2],
       [ 820,    1],
       [ 824,    1],
       [ 828,    1],
       [ 832,    1],
       [ 833,    1],
       [ 834,    3],
       [ 836,    1],
       [ 839,    1],
       [ 840,    1],
       [ 843,    1],
       [ 844,    1],
       [ 846,    1],
       [ 848,    1],
       [ 850,    2],
       [ 853,    1],
       [ 860,    1],
       [ 864,    2],
       [ 865,    1],
       [ 868,    1],
       [ 869,    1],
       [ 870,    2],
       [ 872,    1],
       [ 880,    3],
       [ 884,    1],
       [ 888,    2],
       [ 889,    1],
       [ 900,    2],
       [ 905,    2],
       [ 907,    1],
       [ 908,    1],
       [ 912,    1],
       [ 925,    1],
       [ 932,    1],
       [ 938,    1],
       [ 962,    1],
       [ 963,    1],
       [ 972,    1],
       [ 984,    1],
       [ 995,    1],
       [1003,    1],
       [1014,    1],
       [1025,    1],
       [1040,    1],
       [1052,    1],
       [1092,    1],
       [1134,    1],
       [1200,    1],
       [1248,    1],
       [1390,    1],
       [1488,    1]], dtype=int64)

In [100]:
ames_df['garage_area'].dtypes

dtype('int32')

In [101]:
#replace NaN values with 'None' 
ames_df['garage_qual'] = ames_df['garage_qual'].replace(np.nan,'None')

In [102]:
#check for unusual values
np.array(np.unique(ames_df['garage_qual'], return_counts=True)).T

array([['Fa', 42],
       ['Gd', 6],
       ['None', 45],
       ['Po', 3],
       ['TA', 782]], dtype=object)

In [103]:
#replace NaN values with 'None' in 'garage_cond'
ames_df['garage_cond'] = ames_df['garage_cond'].replace(np.nan,'None')

In [104]:
#check for unusual values
np.array(np.unique(ames_df['garage_cond'], return_counts=True)).T

array([['Ex', 1],
       ['Fa', 27],
       ['Gd', 3],
       ['None', 45],
       ['Po', 6],
       ['TA', 796]], dtype=object)

In [105]:
#check for unusual values
np.array(np.unique(ames_df['paved_drive'], return_counts=True)).T

array([['N', 65],
       ['P', 23],
       ['Y', 790]], dtype=object)

In [106]:
#check for unusual values
np.array(np.unique(ames_df['wood_deck_sf'], return_counts=True)).T

array([[  0, 451],
       [ 20,   1],
       [ 23,   1],
       [ 25,   2],
       [ 26,   1],
       [ 27,   1],
       [ 32,   2],
       [ 36,   3],
       [ 38,   1],
       [ 40,   4],
       [ 42,   2],
       [ 44,   1],
       [ 48,   1],
       [ 49,   1],
       [ 50,   1],
       [ 55,   2],
       [ 56,   1],
       [ 57,   1],
       [ 58,   1],
       [ 60,   2],
       [ 63,   1],
       [ 64,   2],
       [ 66,   1],
       [ 68,   1],
       [ 70,   1],
       [ 71,   1],
       [ 72,   3],
       [ 74,   2],
       [ 76,   3],
       [ 77,   1],
       [ 80,   3],
       [ 81,   1],
       [ 84,   1],
       [ 85,   1],
       [ 89,   1],
       [ 90,   2],
       [ 95,   1],
       [ 96,   2],
       [100,  21],
       [104,   1],
       [106,   1],
       [108,   2],
       [110,   2],
       [112,   1],
       [113,   1],
       [115,   1],
       [116,   2],
       [120,  13],
       [121,   1],
       [123,   3],
       [124,   2],
       [125,   2],
       [127,   3],
       [128,   2],
       [129,   1],
       [130,   1],
       [131,   1],
       [132,   2],
       [133,   5],
       [135,   4],
       [136,   1],
       [139,   1],
       [140,   6],
       [141,   1],
       [142,   3],
       [143,   1],
       [144,  15],
       [145,   2],
       [147,   2],
       [149,   3],
       [150,   4],
       [152,   2],
       [154,   2],
       [155,   2],
       [156,   4],
       [158,   1],
       [160,   3],
       [161,   1],
       [164,   1],
       [165,   1],
       [168,  20],
       [169,   1],
       [170,   1],
       [171,   4],
       [172,   4],
       [173,   1],
       [174,   3],
       [175,   1],
       [176,   3],
       [177,   1],
       [178,   1],
       [179,   1],
       [180,   7],
       [181,   1],
       [182,   4],
       [184,   2],
       [185,   2],
       [186,   2],
       [188,   1],
       [190,   1],
       [192,  27],
       [194,   1],
       [196,   2],
       [197,   1],
       [198,   2],
       [199,   1],
       [200,   3],
       [202,   1],
       [204,   3],
       [208,   6],
       [209,   1],
       [210,   4],
       [212,   3],
       [213,   1],
       [215,   1],
       [216,   1],
       [219,   1],
       [220,   2],
       [224,   2],
       [225,   1],
       [228,   2],
       [231,   2],
       [232,   1],
       [233,   1],
       [234,   1],
       [235,   1],
       [237,   2],
       [238,   2],
       [239,   1],
       [240,   8],
       [245,   1],
       [247,   1],
       [248,   2],
       [250,   2],
       [252,   1],
       [253,   1],
       [256,   2],
       [257,   2],
       [261,   1],
       [262,   1],
       [264,   1],
       [268,   2],
       [270,   1],
       [272,   2],
       [274,   1],
       [277,   1],
       [279,   1],
       [280,   2],
       [285,   1],
       [286,   1],
       [290,   1],
       [294,   2],
       [295,   1],
       [296,   1],
       [297,   1],
       [300,   1],
       [301,   1],
       [304,   1],
       [305,   1],
       [306,   1],
       [312,   1],
       [314,   2],
       [315,   1],
       [316,   2],
       [319,   1],
       [320,   1],
       [322,   2],
       [324,   1],
       [325,   1],
       [326,   1],
       [328,   1],
       [330,   1],
       [331,   1],
       [335,   1],
       [339,   1],
       [344,   1],
       [351,   2],
       [353,   1],
       [355,   1],
       [360,   2],
       [361,   1],
       [362,   1],
       [366,   2],
       [370,   1],
       [382,   1],
       [386,   1],
       [390,   1],
       [400,   2],
       [402,   1],
       [403,   1],
       [405,   1],
       [406,   1],
       [411,   1],
       [421,   1],
       [426,   1],
       [448,   1],
       [453,   1],
       [460,   1],
       [467,   1],
       [468,   1],
       [474,   1],
       [483,   1],
       [486,   2],
       [490,   1],
       [501,   1],
       [502,   1],
       [511,   1],
       [574,   1],
       [670,   1],
       [690,   1]], dtype=int64)

In [107]:
#check for unusual values
np.array(np.unique(ames_df['open_porch_sf'], return_counts=True)).T

array([[  0, 388],
       [  6,   1],
       [ 12,   2],
       [ 15,   1],
       [ 16,   4],
       [ 18,   2],
       [ 20,   9],
       [ 21,   5],
       [ 22,   3],
       [ 23,   2],
       [ 24,  13],
       [ 25,   2],
       [ 26,   5],
       [ 27,   3],
       [ 28,  17],
       [ 29,   1],
       [ 30,   8],
       [ 32,   9],
       [ 33,   4],
       [ 34,   5],
       [ 35,   8],
       [ 36,  14],
       [ 38,   8],
       [ 39,  10],
       [ 40,  10],
       [ 41,   1],
       [ 42,  10],
       [ 43,   4],
       [ 44,   5],
       [ 45,   8],
       [ 46,   4],
       [ 47,   1],
       [ 48,  12],
       [ 49,   3],
       [ 50,   9],
       [ 51,   1],
       [ 52,   1],
       [ 53,   2],
       [ 54,   5],
       [ 55,   5],
       [ 56,   6],
       [ 57,   2],
       [ 58,   3],
       [ 59,   1],
       [ 60,   7],
       [ 61,   2],
       [ 62,   1],
       [ 63,   7],
       [ 64,   9],
       [ 65,   3],
       [ 66,   1],
       [ 68,   7],
       [ 69,   4],
       [ 70,   3],
       [ 72,   6],
       [ 73,   1],
       [ 74,   3],
       [ 75,   6],
       [ 76,   3],
       [ 77,   3],
       [ 78,   8],
       [ 80,   2],
       [ 81,   3],
       [ 82,   3],
       [ 83,   1],
       [ 84,   7],
       [ 85,   3],
       [ 87,   2],
       [ 88,   2],
       [ 89,   1],
       [ 90,   6],
       [ 91,   1],
       [ 92,   1],
       [ 95,   4],
       [ 96,   5],
       [ 98,   7],
       [ 99,   1],
       [100,   4],
       [102,   5],
       [103,   2],
       [104,   2],
       [105,   3],
       [108,   5],
       [110,   2],
       [111,   3],
       [112,   2],
       [113,   3],
       [114,   5],
       [115,   1],
       [116,   5],
       [120,   3],
       [122,   1],
       [124,   1],
       [126,   1],
       [130,   5],
       [131,   1],
       [132,   5],
       [133,   1],
       [134,   1],
       [136,   2],
       [137,   1],
       [138,   1],
       [139,   1],
       [140,   1],
       [144,   4],
       [150,   1],
       [152,   1],
       [154,   2],
       [155,   1],
       [156,   1],
       [160,   1],
       [162,   1],
       [165,   1],
       [166,   1],
       [169,   3],
       [170,   1],
       [172,   1],
       [174,   1],
       [175,   1],
       [177,   1],
       [178,   1],
       [180,   2],
       [182,   2],
       [184,   2],
       [188,   2],
       [189,   1],
       [192,   2],
       [193,   1],
       [194,   1],
       [195,   1],
       [198,   1],
       [201,   1],
       [203,   1],
       [204,   1],
       [208,   1],
       [216,   1],
       [217,   1],
       [222,   1],
       [224,   1],
       [230,   1],
       [234,   1],
       [236,   1],
       [240,   3],
       [241,   1],
       [246,   1],
       [247,   1],
       [250,   1],
       [253,   1],
       [254,   1],
       [262,   1],
       [263,   1],
       [265,   1],
       [266,   1],
       [267,   1],
       [273,   1],
       [274,   1],
       [287,   1],
       [312,   1],
       [341,   1],
       [382,   1],
       [570,   1],
       [742,   1]], dtype=int64)

In [108]:
#check for unusual values
np.array(np.unique(ames_df['enclosed_porch'], return_counts=True)).T

array([[   0,  746],
       [  20,    1],
       [  28,    1],
       [  32,    2],
       [  35,    1],
       [  40,    2],
       [  41,    2],
       [  42,    2],
       [  48,    1],
       [  51,    1],
       [  55,    2],
       [  56,    1],
       [  60,    2],
       [  64,    1],
       [  68,    1],
       [  70,    1],
       [  80,    3],
       [  81,    1],
       [  84,    2],
       [  86,    1],
       [  88,    1],
       [  90,    1],
       [  91,    1],
       [  94,    1],
       [  96,    3],
       [  98,    1],
       [ 100,    1],
       [ 102,    3],
       [ 105,    1],
       [ 108,    2],
       [ 112,    9],
       [ 116,    3],
       [ 120,    3],
       [ 121,    1],
       [ 123,    1],
       [ 126,    3],
       [ 128,    1],
       [ 132,    1],
       [ 137,    1],
       [ 139,    1],
       [ 140,    2],
       [ 144,    5],
       [ 150,    2],
       [ 160,    2],
       [ 164,    1],
       [ 168,    4],
       [ 169,    2],
       [ 170,    1],
       [ 180,    2],
       [ 183,    1],
       [ 184,    1],
       [ 185,    1],
       [ 190,    2],
       [ 192,    4],
       [ 196,    1],
       [ 202,    1],
       [ 205,    1],
       [ 208,    1],
       [ 209,    1],
       [ 218,    1],
       [ 220,    1],
       [ 221,    1],
       [ 224,    2],
       [ 228,    1],
       [ 231,    1],
       [ 238,    1],
       [ 239,    2],
       [ 240,    2],
       [ 242,    1],
       [ 244,    1],
       [ 248,    3],
       [ 252,    2],
       [ 254,    1],
       [ 264,    1],
       [ 286,    1],
       [ 290,    1],
       [ 293,    1],
       [ 334,    1],
       [ 386,    1],
       [ 429,    1],
       [ 552,    1],
       [ 584,    1],
       [1012,    1]], dtype=int64)

In [109]:
#check for unusual values
np.array(np.unique(ames_df['3ssn_porch'], return_counts=True)).T

array([[  0, 867],
       [ 23,   1],
       [130,   1],
       [174,   1],
       [180,   1],
       [196,   1],
       [216,   1],
       [219,   1],
       [225,   1],
       [238,   1],
       [320,   1],
       [360,   1]], dtype=int64)

In [110]:
#check for unusual values
np.array(np.unique(ames_df['screen_porch'], return_counts=True)).T

array([[  0, 803],
       [ 40,   1],
       [ 60,   1],
       [ 63,   1],
       [ 80,   1],
       [ 90,   1],
       [ 92,   1],
       [ 99,   1],
       [100,   1],
       [108,   1],
       [110,   1],
       [112,   1],
       [115,   2],
       [116,   1],
       [117,   1],
       [119,   1],
       [120,   3],
       [121,   1],
       [123,   1],
       [126,   1],
       [128,   1],
       [138,   1],
       [144,   4],
       [153,   2],
       [155,   1],
       [156,   2],
       [160,   4],
       [166,   1],
       [168,   2],
       [175,   1],
       [178,   1],
       [184,   1],
       [185,   1],
       [189,   1],
       [192,   4],
       [195,   1],
       [196,   1],
       [197,   1],
       [198,   1],
       [200,   4],
       [204,   1],
       [216,   3],
       [221,   1],
       [225,   1],
       [227,   1],
       [228,   1],
       [256,   3],
       [259,   1],
       [263,   1],
       [266,   1],
       [273,   1],
       [287,   1],
       [288,   1],
       [576,   1]], dtype=int64)

In [111]:
#check for unusual values
np.array(np.unique(ames_df['pool_area'], return_counts=True)).T

array([[  0, 874],
       [144,   1],
       [444,   1],
       [512,   1],
       [555,   1]], dtype=int64)

In [112]:
#convert NaN values to 'NA' in 'pool_qc'
ames_df['pool_qc'] = ames_df['pool_qc'].replace(np.nan,'None')

In [113]:
#check for unusual values
np.array(np.unique(ames_df['pool_qc'], return_counts=True)).T

array([['Ex', 3],
       ['None', 874],
       ['TA', 1]], dtype=object)

In [114]:
#convert NaN values to 'None' in 'fence'
ames_df['fence'] = ames_df['fence'].replace(np.nan,'None')

In [115]:
#check for unusual values
np.array(np.unique(ames_df['fence'], return_counts=True)).T

array([['GdPrv', 35],
       ['GdWo', 32],
       ['MnPrv', 103],
       ['MnWw', 2],
       ['None', 706]], dtype=object)

In [116]:
#convert NaN to 'None' in 'misc_feature'
ames_df['misc_feature'] = ames_df['misc_feature'].replace(np.nan,'None')

In [117]:
#check for unusual values
np.array(np.unique(ames_df['misc_feature'], return_counts=True)).T

array([['Gar2', 1],
       ['None', 837],
       ['Othr', 1],
       ['Shed', 39]], dtype=object)

In [118]:
#check for unusual values
np.array(np.unique(ames_df['misc_val'], return_counts=True)).T

array([[    0,   840],
       [  350,     1],
       [  400,     6],
       [  420,     1],
       [  450,     4],
       [  480,     1],
       [  490,     1],
       [  500,     5],
       [  560,     1],
       [  600,     2],
       [  620,     1],
       [  650,     2],
       [  700,     3],
       [  750,     1],
       [ 1000,     1],
       [ 1200,     1],
       [ 1400,     1],
       [ 1500,     2],
       [ 1512,     1],
       [ 2000,     2],
       [15500,     1]], dtype=int64)

In [119]:
#check for unusual values
np.array(np.unique(ames_df['mo_sold'], return_counts=True)).T

array([[  1,  44],
       [  2,  29],
       [  3,  64],
       [  4,  71],
       [  5, 138],
       [  6, 153],
       [  7, 146],
       [  8,  66],
       [  9,  52],
       [ 10,  49],
       [ 11,  40],
       [ 12,  26]], dtype=int64)

In [120]:
#check for unusual values
np.array(np.unique(ames_df['yr_sold'], return_counts=True)).T

array([[2006,  187],
       [2007,  195],
       [2008,  187],
       [2009,  202],
       [2010,  107]], dtype=int64)

In [121]:
#check for unusual values
np.array(np.unique(ames_df['sale_type'], return_counts=True)).T

array([['COD', 24],
       ['CWD', 2],
       ['Con', 1],
       ['ConLD', 9],
       ['ConLI', 2],
       ['ConLw', 3],
       ['New', 78],
       ['Oth', 3],
       ['VWD', 1],
       ['WD ', 755]], dtype=object)

In [122]:
ames_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               878 non-null    int64
 1   pid              878 non-null    int64
 2   ms_subclass      878 non-null    int64
 3   ms_zoning        878 non-null    object
 4   lot_frontage     878 non-null    int32
 5   lot_area         878 non-null    int64
 6   street           878 non-null    object
 7   alley            878 non-null    object
 8   lot_shape        878 non-null    object
 9   land_contour     878 non-null    object
 10  utilities        878 non-null    object
 11  lot_config       878 non-null    object
 12  land_slope       878 non-null    object
 13  neighborhood     878 non-null    object
 14  condition_1      878 non-null    object
 15  condition_2      878 non-null    object
 16  bldg_type        878 non-null    object
 17  house_style      878 non-null    object
 18  overall_qual     878 non-null    int64
 19  overall_cond     878 non-null    int64
 20  year_built       878 non-null    int64
 21  year_remod/add   878 non-null    int64
 22  roof_style       878 non-null    object
 23  roof_matl        878 non-null    object
 24  exterior_1st     878 non-null    object
 25  exterior_2nd     878 non-null    object
 26  mas_vnr_type     878 non-null    object
 27  mas_vnr_area     878 non-null    float64
 28  exter_qual       878 non-null    object
 29  exter_cond       878 non-null    object
 30  foundation       878 non-null    object
 31  bsmt_qual        878 non-null    object
 32  bsmt_cond        878 non-null    object
 33  bsmt_exposure    878 non-null    object
 34  bsmtfin_type_1   878 non-null    object
 35  bsmtfin_sf_1     878 non-null    int64
 36  bsmtfin_type_2   878 non-null    object
 37  bsmtfin_sf_2     878 non-null    int64
 38  bsmt_unf_sf      878 non-null    int64
 39  total_bsmt_sf    878 non-null    int64
 40  heating          878 non-null    object
 41  heating_qc       878 non-null    object
 42  central_air      878 non-null    object
 43  electrical       878 non-null    object
 44  1st_flr_sf       878 non-null    int64
 45  2nd_flr_sf       878 non-null    int64
 46  low_qual_fin_sf  878 non-null    int64
 47  gr_liv_area      878 non-null    int64
 48  bsmt_full_bath   878 non-null    int64
 49  bsmt_half_bath   878 non-null    int64
 50  full_bath        878 non-null    int64
 51  half_bath        878 non-null    int64
 52  bedroom_abvgr    878 non-null    int64
 53  kitchen_abvgr    878 non-null    int64
 54  kitchen_qual     878 non-null    object
 55  totrms_abvgrd    878 non-null    int64
 56  functional       878 non-null    object
 57  fireplaces       878 non-null    int64
 58  fireplace_qu     878 non-null    object
 59  garage_type      878 non-null    object
 60  garage_yr_blt    878 non-null    int32
 61  garage_finish    878 non-null    object
 62  garage_cars      878 non-null    int32
 63  garage_area      878 non-null    int32
 64  garage_qual      878 non-null    object
 65  garage_cond      878 non-null    object
 66  paved_drive      878 non-null    object
 67  wood_deck_sf     878 non-null    int64
 68  open_porch_sf    878 non-null    int64
 69  enclosed_porch   878 non-null    int64
 70  3ssn_porch       878 non-null    int64
 71  screen_porch     878 non-null    int64
 72  pool_area        878 non-null    int64
 73  pool_qc          878 non-null    object
 74  fence            878 non-null    object
 75  misc_feature     878 non-null    object
 76  misc_val         878 non-null    int64
 77  mo_sold          878 non-null    int64
 78  yr_sold          878 non-null    int64
 79  sale_type        878 non-null    object
dtypes: float64(1), int32(4), int64(33), object(42)
memory usage: 535.2+ KB

In [123]:
#save train_dataframe to csv
ames_df.to_csv('../data/ames_df_test.csv',index=False)