# Test Data Cleaning Part 2

In [1]:
#import packages
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

%config InlineBackend.figure_format='retina'
%matplotlib inline

In [2]:
#load dataset
ames_df = pd.read_csv('../data/ames_df_test.csv')
ames_df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,None,None,None,0,4,2006,WD
1,2718,905108090,90,RL,0,9662,Pave,None,IR1,Lvl,...,0,0,0,None,None,None,0,8,2006,WD
2,2414,528218130,60,RL,58,17104,Pave,None,IR1,Lvl,...,0,0,0,None,None,None,0,9,2006,New
3,1989,902207150,30,RM,60,8520,Pave,None,Reg,Lvl,...,0,0,0,None,None,None,0,7,2007,WD
4,625,535105100,20,RL,0,9500,Pave,None,IR1,Lvl,...,0,185,0,None,None,None,0,7,2009,WD

In [3]:
ames_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               878 non-null    int64
 1   pid              878 non-null    int64
 2   ms_subclass      878 non-null    int64
 3   ms_zoning        878 non-null    object
 4   lot_frontage     878 non-null    int64
 5   lot_area         878 non-null    int64
 6   street           878 non-null    object
 7   alley            878 non-null    object
 8   lot_shape        878 non-null    object
 9   land_contour     878 non-null    object
 10  utilities        878 non-null    object
 11  lot_config       878 non-null    object
 12  land_slope       878 non-null    object
 13  neighborhood     878 non-null    object
 14  condition_1      878 non-null    object
 15  condition_2      878 non-null    object
 16  bldg_type        878 non-null    object
 17  house_style      878 non-null    object
 18  overall_qual     878 non-null    int64
 19  overall_cond     878 non-null    int64
 20  year_built       878 non-null    int64
 21  year_remod/add   878 non-null    int64
 22  roof_style       878 non-null    object
 23  roof_matl        878 non-null    object
 24  exterior_1st     878 non-null    object
 25  exterior_2nd     878 non-null    object
 26  mas_vnr_type     878 non-null    object
 27  mas_vnr_area     878 non-null    float64
 28  exter_qual       878 non-null    object
 29  exter_cond       878 non-null    object
 30  foundation       878 non-null    object
 31  bsmt_qual        878 non-null    object
 32  bsmt_cond        878 non-null    object
 33  bsmt_exposure    878 non-null    object
 34  bsmtfin_type_1   878 non-null    object
 35  bsmtfin_sf_1     878 non-null    int64
 36  bsmtfin_type_2   878 non-null    object
 37  bsmtfin_sf_2     878 non-null    int64
 38  bsmt_unf_sf      878 non-null    int64
 39  total_bsmt_sf    878 non-null    int64
 40  heating          878 non-null    object
 41  heating_qc       878 non-null    object
 42  central_air      878 non-null    object
 43  electrical       878 non-null    object
 44  1st_flr_sf       878 non-null    int64
 45  2nd_flr_sf       878 non-null    int64
 46  low_qual_fin_sf  878 non-null    int64
 47  gr_liv_area      878 non-null    int64
 48  bsmt_full_bath   878 non-null    int64
 49  bsmt_half_bath   878 non-null    int64
 50  full_bath        878 non-null    int64
 51  half_bath        878 non-null    int64
 52  bedroom_abvgr    878 non-null    int64
 53  kitchen_abvgr    878 non-null    int64
 54  kitchen_qual     878 non-null    object
 55  totrms_abvgrd    878 non-null    int64
 56  functional       878 non-null    object
 57  fireplaces       878 non-null    int64
 58  fireplace_qu     878 non-null    object
 59  garage_type      878 non-null    object
 60  garage_yr_blt    878 non-null    int64
 61  garage_finish    878 non-null    object
 62  garage_cars      878 non-null    int64
 63  garage_area      878 non-null    int64
 64  garage_qual      878 non-null    object
 65  garage_cond      878 non-null    object
 66  paved_drive      878 non-null    object
 67  wood_deck_sf     878 non-null    int64
 68  open_porch_sf    878 non-null    int64
 69  enclosed_porch   878 non-null    int64
 70  3ssn_porch       878 non-null    int64
 71  screen_porch     878 non-null    int64
 72  pool_area        878 non-null    int64
 73  pool_qc          878 non-null    object
 74  fence            878 non-null    object
 75  misc_feature     878 non-null    object
 76  misc_val         878 non-null    int64
 77  mo_sold          878 non-null    int64
 78  yr_sold          878 non-null    int64
 79  sale_type        878 non-null    object
dtypes: float64(1), int64(37), object(42)
memory usage: 548.9+ KB

## Dropping unwanted columns and rows

### Basement Area

In [4]:
ames_df[['bsmtfin_sf_1','bsmtfin_sf_2','bsmt_unf_sf','total_bsmt_sf']].head(10)

   bsmtfin_sf_1  bsmtfin_sf_2  bsmt_unf_sf  total_bsmt_sf
0             0             0         1020           1020
1             0             0         1967           1967
2           554             0          100            654
3             0             0          968            968
4           609             0          785           1394
5           294             0          252            546
6             0             0          869            869
7           196             0         1072           1268
8             0             0          840            840
9           641           279          276           1196

The sum of 'bsmtfin_sf_1','bsmtfin_sf_2' & 'bsmt_unf_sf' equals to 'total_bsmt_sf', therefore it would be better to drop these three columns and keep 'total_bsmt_sf'.

In [5]:
#drop 'bsmtfin_sf_1','bsmtfin_sf_2','bsmt_unf_sf'
ames_df.drop(columns=['bsmtfin_sf_1','bsmtfin_sf_2','bsmt_unf_sf'], inplace=True)

In [6]:
ames_df.shape

(878, 77)

### Garage Year

In [7]:
ames_df[['garage_yr_blt','year_built']].head(10)

   garage_yr_blt  year_built
0           1910        1910
1           1977        1977
2           2006        2006
3           1935        1923
4           1963        1963
5           1972        1972
6           1959        1958
7           1978        1977
8           2004        2004
9           1980        1977

The columns 'garage_yr_blt' and 'year_built' are very similar, therefore it would be better to drop 'garage_year_blt'.

In [8]:
#drop 'garage_yr_blt' 
ames_df.drop(columns=['garage_yr_blt'], inplace=True)

In [9]:
ames_df.shape

(878, 76)

### Above Ground Living Area

In [10]:
ames_df.loc[ames_df['low_qual_fin_sf']!= 0,['1st_flr_sf','2nd_flr_sf','low_qual_fin_sf','gr_liv_area']].head()

     1st_flr_sf  2nd_flr_sf  low_qual_fin_sf  gr_liv_area
31          848           0              360         1208
89         1064           0              431         1495
124         954         795              481         2230
173         520         623               80         1223
234        1360        1360              392         3112

Since 'gr_liv_area' is the sum of '1st_flr_sf','2nd_flr_sf' & 'low_qual_fin_sf', we can drop the 3 columns and keep 'gr_liv_area'.

In [11]:
#drop '1st_flr_sf','2nd_flr_sf' & 'low_qual_fin_sf' columns
ames_df.drop(columns=['1st_flr_sf','2nd_flr_sf','low_qual_fin_sf'], inplace=True)

In [12]:
ames_df.shape

(878, 73)

### ID & PID

'ID' & 'PID' columns are dropped as they are identification numbers and are not likely to affect the sale price.

In [13]:
#drop 'id' & 'pid' columns
ames_df.drop(columns=['id','pid'], inplace=True)

In [14]:
ames_df.shape

(878, 71)

### Convert Categorical Variables to Numeric

In [15]:
#convert nominal variables to numeric using get_dummies
ames_df = pd.get_dummies(columns=
                    ['ms_subclass', 'ms_zoning','street', 'alley', 'land_contour', 'lot_config',
                     'neighborhood', 'condition_1', 'condition_2', 'bldg_type', 'house_style',
                     'roof_style', 'roof_matl', 'exterior_1st', 'exterior_2nd','mas_vnr_type','foundation',
                     'heating', 'central_air', 'garage_type', 'misc_feature', 'sale_type'], data=ames_df)

In [16]:
#replace str with numeric values for 'bsmt_qual', 'bsmt_cond', 'bsmt_exposure', 'bsmtfin_type_1', 'bsmtfin_type_2', 
#'fireplace_qu', 'garage_finish', 'garage_qual', 'garage_cond', 'pool_qc', 'fence'

ames_df.bsmtfin_type_1 = ames_df.bsmtfin_type_1.map({'None': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6})

ames_df.bsmtfin_type_2 = ames_df.bsmtfin_type_2.map({'None': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6})

ames_df.bsmt_qual = ames_df.bsmt_qual.map({'None': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

ames_df.bsmt_cond = ames_df.bsmt_cond.map({'None': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

ames_df.bsmt_exposure = ames_df.bsmt_exposure.map({'None': 0, 'No': 1, 'Mn': 2, 'Av': 3, 'Gd': 4})

ames_df.fireplace_qu = ames_df.fireplace_qu.map({'None': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

ames_df.garage_finish = ames_df.garage_finish.map({'None': 0, 'Unf': 1, 'RFn': 2, 'Fin': 3})

ames_df.garage_qual = ames_df.garage_qual.map({'None': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

ames_df.garage_cond = ames_df.garage_cond.map({'None': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

ames_df.pool_qc = ames_df.pool_qc.map({'None': 0, 'Fa': 1, 'TA': 2, 'Gd': 3, 'Ex': 4})

ames_df.fence = ames_df.fence.map({'None': 0, 'MnWw': 1, 'GdWo': 2, 'MnPrv': 3, 'GdPrv': 4})

In [17]:
ames_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Columns: 214 entries, lot_frontage to sale_type_WD
dtypes: float64(1), int64(38), object(10), uint8(165)
memory usage: 477.7+ KB

In [18]:
#replace str with numeric values for 'lot_shape'
ames_df.lot_shape = ames_df.lot_shape.map({'Reg': 1, 'IR1': 2, 'IR2': 3, 'IR3': 4})

In [19]:
ames_df['lot_shape'].value_counts()

1    564
2    286
3     21
4      7
Name: lot_shape, dtype: int64

In [20]:
#replace str with numeric values for 'utilities'
ames_df.utilities = ames_df.utilities.map({'ELO': 1, 'NoSeWa': 2, 'NoSewr': 3, 'AllPub': 4})

In [21]:
ames_df['utilities'].value_counts()

4    877
3      1
Name: utilities, dtype: int64

In [22]:
#replace str with numeric values for 'land_slope'
ames_df.land_slope = ames_df.land_slope.map({'Gtl': 1, 'Mod': 2, 'Sev': 3})

In [23]:
ames_df['land_slope'].value_counts()

1    835
2     37
3      6
Name: land_slope, dtype: int64

In [24]:
#replace str with numeric values for 'exter_qual'
ames_df.exter_qual = ames_df.exter_qual.map({'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

In [25]:
ames_df['exter_qual'].value_counts()

3    552
4    292
5     25
2      9
Name: exter_qual, dtype: int64

In [26]:
#replace str with numeric values for 'exter_cond'
ames_df.exter_cond = ames_df.exter_cond.map({'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

In [27]:
ames_df['exter_cond'].value_counts()

3    770
4     84
2     18
5      5
1      1
Name: exter_cond, dtype: int64

In [28]:
#replace str with numeric values for 'heating_qc'
ames_df.heating_qc = ames_df.heating_qc.map({'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})

In [29]:
ames_df['heating_qc'].value_counts()

5    429
3    267
4    157
2     25
Name: heating_qc, dtype: int64

In [30]:
#replace str with numeric values for 'electrical'
ames_df.electrical = ames_df.electrical.map({'Mix': 1, 'FuseP': 2, 'FuseF': 3, 'FuseA': 4, 'SBrkr': 5})
ames_df['electrical'].value_counts()

5.0    813
4.0     48
3.0     15
2.0      1
Name: electrical, dtype: int64

In [31]:
#replace str with numeric values for 'kitchen_qual'
ames_df.kitchen_qual = ames_df.kitchen_qual.map({'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5})
ames_df['electrical'].value_counts()

5.0    813
4.0     48
3.0     15
2.0      1
Name: electrical, dtype: int64

In [32]:
#replace str with numeric values for 'functional'
ames_df.functional = ames_df.functional.map({'Sal': 1, 'Sev': 2, 'Maj2': 3, 'Maj1': 4, 'Mod': 5, 'Min2': 6, 'Min1': 7, 'Typ':8})
ames_df['functional'].value_counts()

8    812
6     28
7     23
4      7
5      6
3      2
Name: functional, dtype: int64

In [33]:
#replace str with numeric values for 'paved_drive'
ames_df.paved_drive = ames_df.paved_drive.map({'N': 1, 'P': 2, 'Y': 3})
ames_df['paved_drive'].value_counts()

3    790
1     65
2     23
Name: paved_drive, dtype: int64

In [34]:
#check for non-numeric dtypes
ames_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Columns: 214 entries, lot_frontage to sale_type_WD
dtypes: float64(2), int64(47), uint8(165)
memory usage: 477.7 KB

In [35]:
ames_df.isnull().sum()

lot_frontage       0
lot_area           0
lot_shape          0
utilities          0
land_slope         0
                  ..
sale_type_ConLw    0
sale_type_New      0
sale_type_Oth      0
sale_type_VWD      0
sale_type_WD       0
Length: 214, dtype: int64

### Feature Engineering

In [36]:
#create new feature 'property_age'
ames_df['property_age'] = ames_df['yr_sold'] - ames_df['year_built']

In [37]:
ames_df[['property_age','yr_sold','year_built']].head()

   property_age  yr_sold  year_built
0            96     2006        1910
1            29     2006        1977
2             0     2006        2006
3            84     2007        1923
4            46     2009        1963

In [38]:
#save train_dataframe to csv
ames_df.to_csv('../data/ames_df_dummied_test.csv',index=False)